<aside class="application-sidebar solid vertical flow">

    {{outlet 'header'}}

    <div class="vertical flow">

        <ul class="application-nav text-center flow">
            <li class="active">1.{{t 'navigation.sidebar.data'}}</li>
            <li>2.{{t 'navigation.sidebar.visualisations'}}</li>
            <li>3.{{t 'navigation.sidebar.export'}}</li>
        </ul>

        <div class="sidebar-content flow vertical space-between">

            {{outlet 'sidebar'}}
        </div>

    </div>

</aside>