{{outlet 'header'}}
<div class="intro">

    <h2 class="intro-title">{{t "general.welcomeTo"}} <span>Mapp</span>, {{t "general.onlineEditor"}}</h2>

    <p>
      {{localized-tpl tpl="help/{locale}/index"}}
    </p>

    <div class="intro-actions">
      {{#if hasProject}}
          <div class="button primary filled" {{action 'resumeProject'}}>
              <span class="button-label">Reprendre le projet en cours</span>
              <small>Dernière mis à jour: <span>05/02/2016</span></small>
          </div>
          <div class="button success filled" {{action 'newProject'}}>
              <span class="button-label">Démarrer un nouveau projet</span>
              <small>Va <span>écraser</span> le projet en cours</small>
          </div>
          
      {{else}}
          <div class="button primary filled" {{action 'newProject'}}>
              <span class="button-label">Commencer à utiliser Mapp</span>
          </div>
      {{/if}}
    </div>

</div>

