<div class="modal-dialog modal--large">

    <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{x-capitalize (t 'importMap.title')}}</h3>
        </div>

        <div class="modal-body">

          {{#if isProcessing}}
          <div class="loading-bar"></div>
          {{/if}}

          {{#if isAskingForLayers}}
          {{x-capitalize (t 'importMap.selectLayer')}}
          <ul class="collection">
            {{#each layersCbx as |cbx|}}
            <li class="padded">
              <div class="horizontal airy middle flow">
                <div class="solid horizontal airy middle flow w7">
                  <span>{{input type="checkbox" class="no-close clickable" checked=cbx.checked}}<div class="-h"></div></span>
                  <span class="layer-title">{{cbx.layer.label}}</span>
                </div>
                <span>
                  {{x-capitalize (t 'importMap.withId')}}
                </span>
                {{#x-dropdown-plus as |facet|}}
                  {{#facet.trigger class="filled on-white"}}
                    {{cbx.selectedPropKey}}
                    <i class="iconfont iconfont-angle-down"></i>
                  {{/facet.trigger}}
                  {{#facet.list}}
                    {{#each cbx.layer.propKeys as |key|}}
                    <li {{action 'selectPropKey' cbx key.field}} class="airy flow">
                      {{key.field}}
                    {{#unless key.unique}}
                    <small><i class="text-warning">&nbsp;(non unique)</i></small>
                    {{/unless}}
                    </li>
                    {{/each}}
                  {{/facet.list}}
                {{/x-dropdown-plus}}
              </div>
            </li>
            {{/each}}
          </ul>
          {{/if}}

          {{#if isAskingForSimplifyConfirm}}
            <p>La taille du fond risque de ralentir Khartis. <b>Voulez-vous le généraliser ? (simplification des tracés)</b></p>
            <div class="horizontal center airy flow">
              <div class="solid button filled primary" {{action 'confirmSimplify' true}}>Oui</div>
              <div class="solid button filled default" {{action 'confirmSimplify' false}}>Non</div>
            </div>
          {{/if}}

          {{#if (x-eq state 'error')}}
            {{x-capitalize (t 'importMap.error.title')}} : {{x-capitalize (t (concat 'importMap.error.' errorMessage))}}
          {{/if}}

          {{#if (x-eq state 'finish')}}
            {{#if mapConfigs.length}}
            {{x-capitalize (t 'importMap.success')}}
            {{/if}}
            {{#if mapConfigsOnError.length}}
              <b>{{x-capitalize (t 'importMap.error.layersOnError')}}</b><br/>
              {{#each mapConfigsOnError as |mc|}}
                {{mc.id}} : 
                {{#each mc._debug_errors as |err|}}
                  {{err}} &nbsp;
                {{/each}}
                <br/>
              {{/each}}
            {{/if}}
            <br/><br/><b>DEBUG</b><br/>
            {{#each mapConfigs as |mc|}}
              <a style="text-decoration: underline" {{action 'downloadDebug' mc}}>Télécharger le topojson {{mc.id}}</a> simplifié à {{mc._debug_simplify}}%<br/>
            {{/each}}
            {{#each mapConfigsOnError as |mc|}}
              <a style="text-decoration: underline; color: red;" {{action 'downloadDebug' mc}}>[Erreur] Télécharger le topojson {{mc.id}}</a> simplifié à {{mc._debug_simplify}}%<br/>
            {{/each}}
          {{/if}}
            
        </div>

        <div class="modal-footer">
            <button type="button" class="button filled default" {{action 'reject'}}>{{x-capitalize (t 'general.cancel')}}</button>
            {{#if isStateValid}}
            <button type="button" class="button filled primary" {{action 'next'}}>
              {{#if (x-eq state 'finish')}}
              {{x-capitalize (t 'general.import')}}
              {{else}}
              {{x-capitalize (t 'general.next')}}
              {{/if}}
            </button>
            {{/if}}
        </div>

    </div>

</div>