<div class="modal-dialog modal--large">

    <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{x-capitalize (t 'importMap.title')}}</h3>
        </div>

        <div class="modal-body">

          {{#if isProcessing}}
          <div class="loading-bar"></div>
          {{/if}}

          {{#if isAskingForLayers}}
          <h4>{{x-capitalize (t 'importMap.selectId')}}</h4>
          <i>{{x-capitalize (t 'importMap.selectIdDescription')}}</i>
          <ul class="collection">
            {{#each layersCbx as |cbx|}}
            <li class="padded">
              <div class="horizontal airy middle flow">
                <div class="solid horizontal airy middle flow w7">
                  <span class="layer-title">{{cbx.layer.label}}</span>
                </div>
                <span>
                  {{x-capitalize (t 'importMap.withId')}}
                </span>
                {{#x-dropdown-plus as |facet|}}
                  {{#facet.trigger class="filled on-white"}}
                    {{cbx.selectedPropKey}}
                    <i class="iconfont iconfont-angle-down"></i>
                  {{/facet.trigger}}
                  {{#facet.list}}
                    {{#each cbx.layer.propKeys as |key|}}
                    <li {{action 'selectPropKey' cbx key.field}} class="airy flow">
                      {{key.field}}
                    {{#unless key.unique}}
                    <small><i class="text-warning">&nbsp;(non unique)</i></small>
                    {{else}}
                    <small><i class="text-success">&nbsp;(unique)</i></small>
                    {{/unless}}
                    </li>
                    {{/each}}
                  {{/facet.list}}
                {{/x-dropdown-plus}}
              </div>
            </li>
            {{/each}}
          </ul>
          {{#if hasNonUniquePropKey}}
          <div class="text-warning">
            {{x-capitalize (t 'importMap.nonUniqueKey')}}
          </div>
          {{/if}}
          {{/if}}

          {{#if isAskingForOtherVars}}
            <h4>{{x-capitalize (t 'importMap.askKeepVars.title')}}</h4>
            <div class="vertical airy flow">
              <div class="clickable" onclick={{action (mut keepVars) true}} >
                <input type="radio" name="keepVars" checked={{keepVars}} /><div class="-h"></div>
                <span>{{x-capitalize (t 'importMap.askKeepVars.true')}}</span>
              </div>
              <div class="clickable" onclick={{action (mut keepVars) false}}>
                <input type="radio" name="keepVars" checked={{x-not keepVars}}/><div class="-h"></div>
                <span>{{x-capitalize (t 'importMap.askKeepVars.false')}}</span>
              </div>
            </div>
          {{/if}}

          {{#if isAskingForSimplifyConfirm}}
            <h4>{{x-capitalize (t 'importMap.tooBig')}}. <b>{{x-capitalize (t 'importMap.askSimplify')}}</b></h4>
            <div class="horizontal center airy flow">
              <div class="clickable" onclick={{action (mut doSimplify) true}} >
                <input type="radio" name="doSimplify" checked={{doSimplify}} /><div class="-h"></div>
                <span>{{x-capitalize (t 'general.yes')}}</span>
              </div>
              <div class="clickable" onclick={{action (mut doSimplify) false}}>
                <input type="radio" name="doSimplify" checked={{x-not doSimplify}}/><div class="-h"></div>
                <span>{{x-capitalize (t 'general.no')}}</span>
              </div>
            </div>
          {{/if}}

          {{#if isAskingForProjection}}
            {{input value=wktOverrideValue}}
          {{/if}}

          {{#if (x-eq state 'error')}}
            {{x-capitalize (t 'importMap.error.title')}} : {{x-capitalize (t (concat 'importMap.error.' errorMessage))}}
          {{/if}}

          {{#if (x-eq state 'finish')}}
            {{#if mapConfigs.length}}
            <h4>{{x-capitalize (t 'importMap.success')}}</h4>
            {{/if}}
            {{#if mapConfigsOnError.length}}
              <b>{{x-capitalize (t 'importMap.error.layersOnError')}}</b><br/>
              {{#each mapConfigsOnError as |mc|}}
                {{mc.id}} : 
                {{#each mc._debug_errors as |err|}}
                  {{err}} &nbsp;
                {{/each}}
                <br/>
              {{/each}}
            {{/if}}
            {{!-- <br/><br/><b>DEBUG</b><br/>
            {{#each mapConfigs as |mc|}}
              <a style="text-decoration: underline" {{action 'downloadDebug' mc}}>Télécharger le topojson {{mc.id}}</a> simplifié à {{mc._debug_simplify}}%<br/>
            {{/each}}
            {{#each mapConfigsOnError as |mc|}}
              <a style="text-decoration: underline; color: red;" {{action 'downloadDebug' mc}}>[Erreur] Télécharger le topojson {{mc.id}}</a> simplifié à {{mc._debug_simplify}}%<br/>
            {{/each}} --}}
          {{/if}}
            
        </div>

        <div class="modal-footer">
            <button type="button" class="button filled default" {{action 'reject'}}>{{x-capitalize (t 'general.cancel')}}</button>
            {{#if isStateValid}}
            <button type="button" class="button filled primary" {{action 'next'}}>
              {{#if (x-eq state 'finish')}}
              {{x-capitalize (t 'general.import')}}
              {{else}}
              {{x-capitalize (t 'general.next')}}
              {{/if}}
            </button>
            {{/if}}
        </div>

    </div>

</div>