{{#x-dropdown-plus as |dropdown|}}
  {{#dropdown.trigger}}
    <div class="sp-replacer sp-light">
      <div class="sp-preview">
        {{pattern-dropdown/swatch color=color pattern=value}}
      </div>
      <div class="sp-dd"><i class="iconfont iconfont-angle-down"></i></div>
    </div>
  {{/dropdown.trigger}}
  {{#dropdown.list}}
    <li {{action 'bindValue' null}}>
        <div class="swatch" style="background-color: {{color}}"></div>
    </li>
    {{#each patterns as |pattern|}}
      <li {{action 'bindValue' pattern}}>
        <div class="swatch">{{pattern-dropdown/swatch color=color pattern=pattern}}</div>
      </li>
    {{/each}}
  {{/dropdown.list}}
{{/x-dropdown-plus}}