{{#each selection as |o index|}}
<div class="selected-value" data-selection={{index}} {{action 'focusOnSelection' o index bubbles=false}}>{{yield (x-facet 'selectedValue') o this}}{{#if editable}}<span {{action 'remove' o}} class="icon"><i class="iconfont iconfont-times"></i></span>{{/if}}</div>
{{/each}}
{{#unless raisedMaxLength}}

    {{#if hasMultipleSelections}}
        <div class="multi-value-input-wrapper">
            <div class="add-selection-indicator"><i class="icon icon-plus"></i></div>

            {{key-up-field
                value=query
                keyDownAction="keyPressed"
                focusInAction="focus"
                focusOutAction="focusLost"
                placeholder=placeholder
                class="filter-input form-control"
                readonly=(x-readonly editable)
            }}
        </div>
    {{else }}

        {{key-up-field
        value=query
        keyDownAction="keyPressed"
        focusInAction="focus"
        focusOutAction="focusLost"
        placeholder=placeholder
        class="filter-input form-control"
        }}

        {{#unless loading}}
            {{#unless raisedMinLength}}
                <div class="loader-icon"><i class="icon icon-keyboard"></i></div>
            {{/unless}}
        {{else}}
            <div class="loader-icon"><i class="icon icon-spinner4 animate-spin"></i></div>
        {{/unless}}
    {{/if}}

	<div class="clearfix"></div>
    {{#if shouldDisplaySuggestions}}
	<div class="suggestions-wrapper {{if loading 'loading'}} loading-{{loading}}" tabindex="-1">
		<div class="suggestions" tabindex="-1">
			{{#each suggestions as |o|}}
			<div {{action 'select' o}} class="suggestion">
				{{yield (x-facet 'suggestionRow') o this}}
			</div>
			{{/each}}
		</div>
	</div> 
    {{/if}}
    {{#unless async}}
        {{#if editable}}
        <div class="caret-icon pull-right"><i class="icon icon-expand_more"></i></div>
        {{/if}}
    {{/unless}}
{{/unless}}


