<label class="solid w5">{{label}}</label>
<div class="solid w7">
  <div class="horizontal solid half-airy flow">
    {{input-numeric numericValue=value class="solid w10"}}
    {{#if canAddThreshold}}
    <a {{action 'addThreshold'}} class="solid w2"><span class="button-circle-o"><i class="iconfont iconfont-plus-thin"></i></span></a>
    {{/if}}
  </div>
  <ul class="solid w12 intervals">
    <li class="interval min-max w12"><span class="value">{{min}}</span></li>
    {{#if scale.diverging}}
      {{#each thresholdsSortedBeforeBreak as |threshold|}}
      <li class="interval w12"><span class="value">{{threshold}}</span> <a {{action 'removeThreshold' threshold}}><span class="button-circle-o"><i class="iconfont iconfont-minus-thin"></i></span></a></li>
      {{/each}}
      <li class="interval min-max w12"><span class="value">{{scale.valueBreak}}</span></li>
      {{#each thresholdsSortedAfterBreak as |threshold|}}
      <li class="interval w12"><span class="value">{{threshold}}</span> <a {{action 'removeThreshold' threshold}}><span class="button-circle-o"><i class="iconfont iconfont-minus-thin"></i></span></a></li>
      {{/each}}
    {{else}}
      {{#each thresholdsSorted as |threshold|}}
      <li class="interval w12"><span class="value">{{threshold}}</span> <a {{action 'removeThreshold' threshold}}><span class="button-circle-o"><i class="iconfont iconfont-minus-thin"></i></span></a></li>
      {{/each}}
    {{/if}}
    <li class="interval min-max w12"><span class="value">{{max}}</span></li>
  </ul>
</div>
