<div class="vertical flow padded">
  <div class="horizontal space-between solid middle flow filled primary overflows head padded-h">
    <b>Réglages</b>
    <div class="button" {{action 'deleteFeature'}}><i class="iconfont iconfont-trash"></i></div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=1)}}</label>
    <div class="horizontal half-airy solid flow w7">
      {{color-picker value=data.color}}
    </div>
  </div>
  {{#if (x-eq data.type 'line')}}
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.curve')}}</label>
    <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid offset-slider" band=0.02 value=data.curve min=-1 max=1}}
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.strokeWidth')}}</label>
    <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid offset-slider" band=1 value=data.strokeWidth min=1 max=20}}
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.dash')}}</label>
    <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid offset-slider" band=1 value=data.dash min=0 max=20}}
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.shapes')}}</label>
    <div class="horizontal half-airy solid flow w7">
      {{drawing-feature-info/marker-selection selected=data.markerStart markers=(x-array 'arrow-marker-start' 'rect-marker' 'circle-marker')}}
      {{drawing-feature-info/marker-selection selected=data.markerEnd markers=(x-array 'arrow-marker-end' 'rect-marker' 'circle-marker')}}
    </div>
  </div>
  {{/if}}

  {{#if (x-eq data.type 'text')}}
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'visualization.settings.size')}}</label>
    <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid offset-slider" band=1 value=data.fontSize min=6 max=56}}
    {{input-numeric/one-way numericValue=data.fontSize class="solid w4" min=6 max=56 update=(action (mut data.fontSize))}}
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.align')}}</label>
    <div class="horizontal half-airy solid flow w7">
      <div class="button filled {{if (x-eq data.align 'start') 'success' 'default'}}" {{action (mut data.align) 'start'}}><i class="iconfont iconfont-align-left"></i></div>
      <div class="button filled {{if (x-eq data.align 'middle') 'success' 'default'}}" {{action (mut data.align) 'middle'}}><i class="iconfont iconfont-align-center"></i></div>
      <div class="button filled {{if (x-eq data.align 'end') 'success' 'default'}}" {{action (mut data.align) 'end'}}><i class="iconfont iconfont-align-right"></i></div>
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.textDecoration')}}</label>
    <div class="horizontal half-airy solid flow w7">
      <div class="button filled {{if data.underline 'success' 'default'}}" {{action (mut data.underline) (x-not data.underline)}}><i class="iconfont iconfont-text-underline"></i></div>
      <div class="button filled {{if data.bold 'success' 'default'}}" {{action (mut data.bold) (x-not data.bold)}}><i class="iconfont iconfont-text-bold"></i></div>
      <div class="button filled {{if data.italic 'success' 'default'}}" {{action (mut data.italic) (x-not data.italic)}}><i class="iconfont iconfont-text-italic"></i></div>
    </div>
  </div>
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.text')}}</label>
    <div class="horizontal half-airy solid flow w7">
    {{textarea class="auto-expand" value=(get data 'text') focus-out=(action 'dataTextFocusOut')}}
    </div>
  </div>
  {{/if}}
  <div class="horizontal middle flow">
    <label class="solid w5">{{x-capitalize (t 'export.drawings.anchor')}}</label>
    <div class="horizontal half-airy solid flow w7 btn-switch-group">
      <div class="small button filled primary {{if (x-eq data.positioning 'geo') 'selected'}}" {{action 'changePositioning' 'geo'}}>sur la carte</div>
      <div class="small button filled primary {{if (x-eq data.positioning 'absolute') 'selected'}}" {{action 'changePositioning' 'absolute'}}>sur la page</div>
    </div>
  </div>
  {{#unless data.canBeGeoPositioned}}
  <div class="horizontal middle flow">
    <div class="horizontal padded filled default solid flow positioning-warning">
      <span class="text-warning">Le dessin n'a pu être ancré sur la carte, il a été ancré sur la page</span>
    </div>
  </div>
  {{/unless}}
</div>