<div class="edit-layer">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUANTI-val_symboles.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {{#x-tooltip message=(t 'visualization.settings.diagram.tooltip.title')}}
  <div class="title underlined"><span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.diagram.title')}}</span></div>
  {{/x-tooltip}}
  <div class="body">
    <div class="settings vertical flow">
      {{#o-wrap.diagram as |wrap|}}
      <div class="horizontal flow">
        {{distribution-graph mapping=editedLayer.mapping
          displayColors=false
          method=wrap.selectedDiagramMethod
          xLabel=(t 'visualization.settings.diagram.values')
          yLabel=(t 'visualization.settings.diagram.frequencies')
        }}
      </div>
      {{/o-wrap.diagram}}
        <div class="title underlined">{{x-capitalize (t 'visualization.settings.symbols')}}</div>

        <div class="solid vertical flow">
        {{#x-tabs onActiveItemChange=(action 'onIntervalTypeTabChange')}}
        <ul class="tabs brewer-tabs">
          <li tab-id="linear-tab">{{t 'visualization.settings.discretization.method.unique'}}</li>
          <li tab-id="classes-tab">
            {{#x-tooltip message=(t 'visualization.settings.discretization.method.tooltip.grouped')}}
            <span class="tooltip-trigger">{{t 'visualization.settings.discretization.method.grouped'}}</span>
            {{/x-tooltip}}
          </li>
        </ul>
        <div class="panes">
          <div id="classes-tab" class="tab-pane {{if editedLayer.mapping.scale.usesInterval 'active'}}">
              <div class="horizontal middle flow">
                {{#x-tooltip message=(t 'visualization.settings.discretization.tooltip.title')}}
                <label class="solid w5"><span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.discretization.title')}}</span></label>
                {{/x-tooltip}}
                <div class="solid w7">
                  {{#x-dropdown-plus as |facet|}}
                    {{#facet.trigger class="filled padded-h w8"}}
                      {{#unless editedLayer.mapping.scale.intervalType}}
                      Choisir
                      {{else}}
                      {{t (concat "visualization.settings.discretization.type." editedLayer.mapping.scale.intervalType)}}
                      {{/unless}}
                      <i class="iconfont iconfont-angle-down"></i>
                    {{/facet.trigger}}
                    {{#facet.list}}
                      <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'regular'}}>{{t 'visualization.settings.discretization.type.regular'}}</li>
                      <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'mean'}}>{{t 'visualization.settings.discretization.type.mean'}}</li>
                      <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'quantile'}}>{{t 'visualization.settings.discretization.type.quantile'}}</li>
                      <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'standardDeviation'}}>{{t 'visualization.settings.discretization.type.standardDeviation'}}</li>
                      <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'jenks'}}>{{t 'visualization.settings.discretization.type.jenks'}}</li>
                    {{/facet.list}}
                  {{/x-dropdown-plus}}
                </div>
              </div>
              <div class="horizontal middle flow">
                <label class="solid w5">{{x-capitalize (t 'visualization.settings.classes')}}</label>
                <div class="solid w7">
                  {{#x-dropdown-plus as |facet|}}
                    {{#facet.trigger class="filled padded-h"}}
                      {{editedLayer.mapping.scale.classes}}
                      <i class="iconfont iconfont-angle-down"></i>
                    {{/facet.trigger}}
                    {{#facet.list}}
                      {{#each editedLayer.mapping.possibleClasses as |count|}}
                        <li {{action 'bind' editedLayer.mapping.scale 'classes' count}}>{{count}}</li>
                      {{/each}}
                    {{/facet.list}}
                  {{/x-dropdown-plus}}
                </div>
              </div>
            </div>
            <div id="linear-tab" class="tab-pane {{unless editedLayer.mapping.scale.usesInterval 'active'}}"></div>
          </div>
          {{/x-tabs}}
          
          
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.shape.title')}}</label>
            <div class="horizontal half-airy solid flow w7 btn-switch-group">
              <div class="small button filled primary {{if (x-eq editedLayer.mapping.visualization.shape 'circle') 'selected'}}" {{action 'bind' editedLayer.mapping.visualization 'shape' 'circle'}}>{{x-capitalize (t 'visualization.settings.shape.circle')}}</div>
              <div class="small button filled primary {{if (x-eq editedLayer.mapping.visualization.shape 'rect') 'selected'}}" {{action 'bind' editedLayer.mapping.visualization 'shape' 'rect'}}>{{x-capitalize (t 'visualization.settings.shape.rect')}}</div>
              <div class="small button filled primary {{if (x-eq editedLayer.mapping.visualization.shape 'bar') 'selected'}}" {{action 'bind' editedLayer.mapping.visualization 'shape' 'bar'}}>{{x-capitalize (t 'visualization.settings.shape.bar')}}</div>
            </div>
          </div>
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.size')}}</label>
            <div class="horizontal half-airy solid flow w7">
            {{x-slider class="fluid offset-slider" band=1 value=editedLayer.mapping.visualization.maxSize min=editedLayer.mapping.visualization.absoluteMinSize max=editedLayer.mapping.visualization.absoluteMaxSize}}
            {{input-numeric.one-way numericValue=editedLayer.mapping.visualization.maxSize class="solid w3" min=editedLayer.mapping.visualization.absoluteMinSize update=(action (mut editedLayer.mapping.visualization.maxSize))}}
            </div>
          </div>

          {{#if (x-eq editedLayer.mapping.visualization.shape 'bar')}}
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'general.width')}}</label>
            <div class="horizontal half-airy solid flow w7">
            {{x-slider class="fluid offset-slider" band=1 value=editedLayer.mapping.visualization.barWidth min=1 max=30}}
            {{input-numeric.one-way numericValue=editedLayer.mapping.visualization.barWidth class="solid w3" min=1 update=(action (mut editedLayer.mapping.visualization.barWidth))}}
            </div>
          </div>
          {{/if}}

          {{#unless editedLayer.mapping.scale.usesInterval}}
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.contrast')}}</label>
            <div class="horizontal half-airy solid flow w7">
              {{x-slider class="fluid" band=1 value=editedLayer.mapping.scale.contrast min=editedLayer.mapping.minContrastIndex max=editedLayer.mapping.maxContrastIndex}}
            </div>
          </div>
          {{/unless}}
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.breakValue')}} ?</label>
            <div class="horizontal solid half-airy flow w7">
              {{input-numeric.one-way
                readonly=(x-true-or-undef editedLayer.mapping.shouldDiverge)
                numericValue=editedLayer.mapping.scale.valueBreak
                class="value-break-input solid w5 padding-fix"
                nullable=true
                min=editedLayer.mapping.extentMin
                max=editedLayer.mapping.extentMax
                update=(action 'updateValueBreak')
                placeholder=(t 'general.none')}}
              {{#if editedLayer.mapping.scale.diverging}}
                {{#if editedLayer.mapping.scale.usesInterval}}
                  {{#o-wrap.classes-before-break
                    classes=editedLayer.mapping.scale.classesBeforeBreak
                    totalClasses=editedLayer.mapping.scale.classes
                    possibilities=editedLayer.mapping.possibleClassesBeforeBreak as |wrap|}}
                    {{#if wrap.editable}}
                    {{x-slider class="fluid offset-slider" displayTick=false tickFormat="d" band=1 value=wrap.cursor min=wrap.min max=wrap.max}}
                    {{/if}}
                  {{/o-wrap.classes-before-break}}
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=(x-ternary editedLayer.mapping.scale.diverging 2 1))}}</label>
            <div class="horizontal half-airy solid flow w7">
              {{#if editedLayer.mapping.scale.diverging}}
              {{color-picker value=editedLayer.mapping.visualization.colorBeforeBreak}}
              {{/if}}
              {{color-picker value=editedLayer.mapping.visualization.color}}
            </div>
          </div>
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.stroke')}}</label>
            <div class="horizontal half-airy solid flow w7">
              {{x-slider class="fluid" band=0.5 value=editedLayer.mapping.visualization.stroke min=0 max=5}}
            </div>
          </div>
          <div class="horizontal middle flow">
            <Label class="solid w5">{{x-capitalize (t 'visualization.settings.opacity')}}</Label>
            <div class="horizontal half-airy solid flow w7">
              {{x-slider class="fluid" band=0.05 value=editedLayer.opacity min=0 max=1}}
            </div>
          </div>
        </div>
      </div>

      {{#if editedLayer.mapping.rules.length}}
        <div class="title underlined" style="margin-top:20px;">
          {{x-capitalize (t 'visualization.title.nodata')}}
        </div>
        <ul class="collection categories-list">
        {{#each editedLayer.mapping.rules as |rule|}}
        <li>
          <div class="horizontal space-between flow layer-header">
            <div class="horizontal airy flow">
              {{#if rule.emptyValue}}
                <span class="varname">{{t (concat 'visualization.rule.' rule.label)}}</span><span>({{rule.qty}})</span>
              {{else}}
                <span class="varname">{{rule.label}}</span><span>({{rule.qty}})</span>
              {{/if}}
            </div>
            <div class="solid w4 text-right no-drag">
              <a {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
              {{color-picker value=rule.color}}
            </div>
          </div>
        </li>
        {{/each}}
        </ul>
      {{/if}}
    </div>
</div>