<div class="edit-layer">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUANTI-val_surfaces.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_surfaces.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="title underlined">{{x-capitalize (t 'visualization.settings.diagram.title')}}</div>
  <div class="body">
    <div class="settings vertical flow">
      <div class="horizontal flow">
        {{distribution-bars mapping=editedLayer.mapping
          xLabel=(t 'visualization.settings.diagram.values')
          yLabel=(t 'visualization.settings.diagram.frequencies')
        }}
      </div>

      <div class="title underlined">{{x-capitalize (t 'visualization.settings.title')}}</div>
      <div class="solid vertical flow">
        <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.discretization.title')}}</label>
            <div class="solid w7">
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class="filled padded-h w8"}}
                  {{#unless editedLayer.mapping.scale.intervalType}}
                  Choisir
                  {{else}}
                  {{t (concat "visualization.settings.discretization.type." editedLayer.mapping.scale.intervalType)}}
                  {{/unless}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'regular'}}>{{t 'visualization.settings.discretization.type.regular'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'mean'}}>{{t 'visualization.settings.discretization.type.mean'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'quantile'}}>{{t 'visualization.settings.discretization.type.quantile'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>
          </div>
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.classes')}}</label>
            <div class="solid w7">
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class="filled padded-h"}}
                  {{editedLayer.mapping.scale.classes}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each editedLayer.mapping.scale.possibleClasses as |count|}}
                    <li {{action 'bind' editedLayer.mapping.scale 'classes' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>
          </div>

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.breakValue')}} ?</label>
            <div class="horizontal solid half-airy flow w7">
              {{#unless editedLayer.mapping.shouldDiverge}}
              <span class="offset-checkbox">{{input type="checkbox" checked=editedLayer.mapping.scale.diverging}}<div class="-h"></div></span>
              {{/unless}}
              {{#if editedLayer.mapping.scale.diverging}}
                {{input-numeric
                  readonly=(x-true-or-undef editedLayer.mapping.shouldDiverge)
                  numericValue=editedLayer.mapping.scale.valueBreak
                  class="value-break-input solid w4 padding-fix"
                  focus-out=(action 'onValueBreakFocusOut')}}
                {{#unless (x-eq editedLayer.mapping.scale.intervalType 'linear')}}
                  {{#o-wrap.classes-before-break
                    classes=editedLayer.mapping.scale.classesBeforeBreak
                    totalClasses=editedLayer.mapping.scale.classes
                    possibilities=editedLayer.mapping.scale.possibleClassesBeforeBreak as |wrap|}}
                    {{#if wrap.editable}}
                    {{x-slider class="fluid offset-slider" displayTick="true" tickFormat="d" band=1 value=wrap.cursor min=wrap.min max=wrap.max}}
                    {{/if}}
                  {{/o-wrap.classes-before-break}}
                {{/unless}}
              {{/if}}
            </div>
          </div>

          {{#o-wrap.brewer obj=editedLayer.mapping as |brewer|}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=2)}} ?</label>
            <div class="horizontal half-airy solid flow w7 layer-color-selector">
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class="filled"}}
                  {{color-swatch class="layer-color-swatch"
                    colors=(get brewer.availableColorSetsMap editedLayer.mapping.visualization.colors)
                  }}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each brewer.availableColorSets as |colorSet|}}
                    <li {{action 'bind' editedLayer.mapping.visualization 'colors' colorSet.key}}>
                      {{color-swatch class="layer-color-swatch" colors=colorSet.colors}}
                    </li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>
          </div>

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.pattern' count=2)}} ?</label>
            <div class="horizontal half-airy solid flow w7" class="layer-pattern-selector">
              <span class="offset-checkbox solid">{{input type="checkbox" checked=editedLayer.mapping.usePattern}}<div class="-h"></div></span>

              {{#if editedLayer.mapping.usePattern}}
                <ul class="layer-pattern-swatch">
                  {{#each brewer.availablePatterns as |pattern|}}
                    <li {{action 'bind' editedLayer.mapping.visualization 'pattern' pattern}}>
                      {{pattern-swatch pattern=pattern
                        count=1
                        mapping=editedLayer.mapping
                        class=(if (x-eq pattern.key editedLayer.mapping.visualization.pattern.key) 'selected')
                      }}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </div>
          </div>

          {{/o-wrap.brewer}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.reverse')}} ?</label>
            <div class="horizontal half-airy solid flow w7">
                <span class="offset-checkbox">{{input type="checkbox" checked=editedLayer.mapping.visualization.reverse}}<div class="-h"></div></span>
            </div>
          </div>

          {{#if editedLayer.mapping.rules.length}}
            <div class="title underlined" style="margin-top:20px;">
              {{x-capitalize (t 'visualization.title.nodata')}}
            </div>
            <ul class="collection categories-list">
            {{#each editedLayer.mapping.rules as |rule|}}
            <li>
              <div class="horizontal space-between flow layer-header">
                <div class="horizontal airy flow">
                  {{#if rule.emptyValue}}
                    <span class="varname">{{t (concat 'visualization.rule.' rule.label)}}</span><span>({{rule.qty}})</span>
                  {{else}}
                    <span class="varname">{{rule.label}}</span><span>({{rule.qty}})</span>
                  {{/if}}
                </div>
                <div class="solid w4 text-right no-drag">
                  <a {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
                  {{color-picker value=rule.color}}
                </div>
              </div>
            </li>
            {{/each}}
            </ul>
          {{/if}}
      </div>
    </div>
  </div>
</div>