<div class="edit-layer">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUANTI-val_symboles.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="title">Choix des variables</div>
  <div class="body">
    <div class="settings vertical flow">
      {{mapping-var-selector
        variables=model.data.columns
        mapping=editedLayer.mapping
      }}
    </div>
  </div>

  {{#if editedLayer.mapping.isBoundToVar}}
    {{mapping-settings/val-symbols
      mapping=editedLayer.mapping
      bindScaleIntervalType=(action 'bindScaleIntervalType')
      bind=(action 'bind')
      updateValueBreak=(action 'updateValueBreak')
      toggleRuleVisibility=(action 'toggleRuleVisibility')
    }}
  {{/if}} {{! boundToVar }}
</div>