<div class="edit-layer vertical flow">

    <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>

    <div class="body solid">
        <ul class="collection">
            <li class="layer">
                <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
                    <div class="caption">
                        <img src="{{r-url 'assets/images/viz/QUALI-cat_surfaces.svg'}}">
                    </div>
                    <div class="vertical stretched middle flow padded-h content">
                        <span class="title">{{t "visualization.type.quali.cat_surfaces.name"}}</span>
                        <p class="description">{{t "visualization.type.quali.cat_surfaces.description"}}</p>
                    </div>
                </div>
            </li>
        </ul>

        {{#if (x-greater editedLayer.mapping.rules.length 8)}}
        <div class="report">
            {{#x-tooltip position="bottom" yieldMessage=true as |tooltip|}}
              {{#if tooltip.html}}
                {{#tooltip.html}}
                  <p>
                    {{x-capitalize (t "visualization.warning.rule.count.explenation")}}
                  </p>
                  <p>
                    {{x-capitalize (t "visualization.warning.rule.count.help._")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.1")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.2")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.3")}}
                  </p>
                {{/tooltip.html}}
              {{else}}
                <div class="warning report-message">
                    <div class="horizontal flow space-between">
                      <div class="solid">
                        <b class="text-warning">1</b>
                        {{x-capitalize (t "visualization.warning.rule.count.title" count=1)}}
                      </div>
                      <div class="solid">
                        <a href="#" class="small button">{{x-capitalize (t "visualization.warning.rule.count.about")}}</a>
                      </div>
                    </div>
                </div>
              {{/if}}
            {{/x-tooltip}}
            <div class="horizontal right flow">
              
            </div>
        </div>
        {{/if}}
    </div>


    

    <div class="body vertical flow">

    <div class="settings vertical airy flow">

      {{#o-wrap.rules obj=editedLayer.mapping as |rulesWrap|}}
      {{#o-wrap.brewer obj=editedLayer.mapping as |brewer|}}


      <div class="vertical flow">

          <div class="title underlined">{{x-capitalize (t 'visualization.title.categories')}}</div>

          <div class="horizontal right solid flow padded-t">
            <a class="solid button filled" {{action 'randomizeRules'}}><i class="iconfont iconfont-redo"></i></a>
          </div>

          <ul class="collection categories-list fluid scrollable" style="overflow-y: scroll;">

              {{#each editedLayer.mapping.rules as |rule|}}

                  <li>

                    <div class="categories-name categories-surface">

                        {{#if rule.emptyValue}}
                            <span class="varname">{{t (concat 'visualization.rule.' rule.label)}}</span>
                        {{else}}
                            <span class="varname">{{rule.label}}</span>
                        {{/if}}

                        <a class="toggle-visibility" {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>

                        <div class="flow">
                            {{x-progress class="categories-progress" value=rule.qty max=rulesWrap.maxQty}}
                        </div>

                    </div>

                    <div class="categories-controls">
                        <div class="categories-control categories-fill-color-control">
                            {{color-picker value=rule.color}}
                        </div>
                    </div>

                  </li>

              {{/each}}
          </ul>

      </div>

      <div class="vertical solid flow">

        <div class="title underlined">{{x-capitalize (t 'visualization.settings.title')}}</div>

        <div class="solid vertical flow">

          {{#if false}} <!-- desactivé pour la démo du 13 juin, à implémenter-->
          <div class="horizontal middle flow">
              <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=2)}} ?</label>
              <div class="horizontal half-airy solid flow w7 layer-color-selector">
                  {{#x-dropdown-plus as |facet|}}
                      {{#facet.trigger class="filled"}}
                          {{color-swatch class="layer-color-swatch"
                          colors=(get brewer.availableColorSetsMap editedLayer.mapping.visualization.colors)
                          }}
                          <i class="iconfont iconfont-angle-down"></i>
                      {{/facet.trigger}}
                      {{#facet.list}}
                          {{#each brewer.availableColorSets as |colorSet|}}
                              <li {{action 'bind' editedLayer.mapping.visualization 'colors' colorSet.key}}>
                                  {{color-swatch class="layer-color-swatch" colors=colorSet.colors}}
                              </li>
                          {{/each}}
                      {{/facet.list}}
                  {{/x-dropdown-plus}}
              </div>
          </div>
          {{/if}}

          <div class="horizontal middle flow">
              <label class="solid w5">{{x-capitalize (t 'visualization.settings.pattern' count=2)}} ?</label>
              <div class="horizontal half-airy solid flow w7" class="layer-pattern-selector">
                  <span class="offset-checkbox solid">{{input type="checkbox" checked=editedLayer.mapping.usePattern}}<div class="-h"></div></span>

                  {{#if editedLayer.mapping.usePattern}}
                      <ul class="layer-pattern-swatch">
                          {{#each brewer.availablePatterns as |pattern|}}
                              <li {{action 'bind' editedLayer.mapping.visualization 'pattern' pattern}}>
                                  {{pattern-swatch pattern=pattern
                                  count=1
                                  mapping=editedLayer.mapping
                                  class=(if (x-eq pattern.key editedLayer.mapping.visualization.pattern.key) 'selected')
                                  }}
                              </li>
                          {{/each}}
                      </ul>
                  {{/if}}
              </div>
          </div>

        </div>

      </div>

      {{/o-wrap.brewer}}
      {{/o-wrap.rules}}

    </div>
  </div>
</div>