<div class="edit-layer">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
          <div class="caption">
            {{visualization-icon mapping=editedLayer.mapping small=false}}
          </div>
          <div class="vertical stretched middle flow padded-h content">
            {{visualization-title class="title" mapping=editedLayer.mapping}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="title choose-var-setting">{{x-capitalize (t 'visualization.title.chooseVar')}}</div>
  <div class="body">
    <div class="settings vertical flow choose-var-setting">
      {{#each editedLayer.mapping.mappings as |mapping|}}
        {{mapping-var-selector
          variables=model.data.columns
          mapping=mapping
        }}
      {{/each}}
    </div>
    <div class="horizontal middle flow">
        <label class="solid w3">{{x-capitalize (t 'export.settings.title')}}</label>
        {{input value=editedLayer.mapping.title}}
      </div>
  </div>

  {{#if editedLayer.mapping.isBoundToVar}}
    {{mapping-settings/val-proportional
      mapping=editedLayer.mapping
      bind=(action 'bind')
    }}
  {{/if}} {{! boundToVar }}
</div>