<div class="edit-layer vertical flow">

  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>

  <div class="body solid">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUALI-cat_surfaces.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
            <span class="title">{{t "visualization.type.quali.cat_surfaces.name"}}</span>
            <p class="description">{{t "visualization.type.quali.cat_surfaces.description"}}</p>
          </div>
        </div>
      </li>
    </ul>

    <div class="title">Choix des variables</div>
    <div class="body">
      <div class="settings vertical flow">
        {{mapping-var-selector variables=model.data.columns mapping=editedLayer.mapping}}
      </div>
    </div>

    {{#if editedLayer.mapping.isBoundToVar}}
      {{mapping-settings/cat-surfaces 
        mapping=editedLayer.mapping 
        bind=(action 'bind')
      }}
    {{/if}} {{! boundToVar }}

  </div>
</div>  