<div class="configuration-panel filled padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.layer'}}{{t "navigation.chooseVisualization"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i>{{t (concat "visualization." editedLayer.mapping.type)}}</div>
    <div class="actions">
      {{#link-to 'graph'}}<i class="iconfont iconfont-times-circle"></i>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="help jumbotron markdown">
    {{localized-tpl tpl="help/{locale}/graph/projection/edit"}}
    </div>
    <div class="settings">
      <div class="vertical airy flow">
        <div class="horizontal space-between flow layer-header">
          <span>{{editedLayer.varCol.header.value}}</span>
        </div>
        
        <div>
            <label>{{x-capitalize (t "general.mappingType")}}</label>
            {{#x-dropdown.x-trigger
              dropdownPivot="top left"
              triggerPivot="bottom left"}}
              <a class="dropdown-trigger">
                {{#unless editedLayer.mapping}}
                Choisir
                {{else}}
                {{t (concat "variable.mapping.type." editedLayer.mapping.type)}}
                {{/unless}}
                <i class="iconfont iconfont-angle-down"></i>
              </a>
            {{/x-dropdown.x-trigger}}
            <ul class="dropdown">
              <li {{action 'bindLayerMapping' editedLayer 'shape'}}>{{t 'variable.mapping.type.shape'}}</li>
              {{#if editedLayer.canBeSurface}}
              <li {{action 'bindLayerMapping' editedLayer 'surface'}}>{{t 'variable.mapping.type.surface'}}</li>
              {{/if}}
              <li {{action 'bindLayerMapping' editedLayer 'text'}}>{{t 'variable.mapping.type.text'}}</li>
            </ul>
        </div>
        
        {{#if editedLayer.mappedToShape}}
        <div>
          <label>Symbol :</label>
          {{#x-dropdown.x-trigger
            dropdownPivot="top left"
            triggerPivot="bottom left"}}
            <a class="dropdown-trigger">
              {{t (concat "variable.mapping.shape." editedLayer.mapping.shape)}}
              <i class="iconfont iconfont-angle-down"></i>
            </a>
          {{/x-dropdown.x-trigger}}
          <ul class="dropdown">
            <li {{action 'bindMappingShape' editedLayer 'point'}}>{{t 'variable.mapping.shape.point'}}</li>
            <li {{action 'bindMappingShape' editedLayer 'rect'}}>{{t 'variable.mapping.shape.rect'}}</li>
          </ul>
        </div>
        <div>
          <label>{{t "general.gradientOf"}} :</label>
          {{#x-dropdown.x-trigger
            dropdownPivot="top left"
            triggerPivot="bottom left"}}
            <a class="dropdown-trigger">
              {{#if editedLayer.mapping.scaleOf}}
              {{t (concat "variable.mapping.scaleOf." editedLayer.mapping.scaleOf)}}
              {{else}}
              {{t "general.none"}}
              {{/if}}
              <i class="iconfont iconfont-angle-down"></i>
            </a>
          {{/x-dropdown.x-trigger}}
          <ul class="dropdown">
            <li {{action 'bindMappingScaleOf' editedLayer 'size'}}>{{t 'variable.mapping.scaleOf.size'}}</li>
            <li {{action 'bindMappingScaleOf' editedLayer 'fill'}}>{{t 'variable.mapping.scaleOf.fill'}}</li>
            <li {{action 'bindMappingScaleOf' editedLayer null}}>{{t 'general.none'}}</li>
          </ul>
        </div>
        
        {{#if editedLayer.mappedToText}}
        <div>
          <label>{{x-capitalize (t "general.label")}} :</label>
          {{#x-dropdown.x-trigger
            dropdownPivot="top left"
            triggerPivot="bottom left"}}
            <a class="dropdown-trigger">
              {{editedLayer.mapping.labelCol.header.value}}
              <i class="iconfont iconfont-angle-down"></i>
            </a>
          {{/x-dropdown.x-trigger}}
          <ul class="dropdown">
            {{#each model.data.columns as |col|}}
              <li {{action 'bindMappingLabelCol' editedLayer col}}>{{col.header.value}} {{data-type-icon meta=col.meta inconsistency=col.inconsistency}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        
        <div>
          {{color-picker value=editedLayer.mapping.color}}
        </div>
        
        {{else if editedLayer.mappedToSurface}}
        
        <div>
          <label>Motif de remplissage :</label>
          {{#x-dropdown.x-trigger
            dropdownPivot="top left"
            triggerPivot="bottom left"}}
            <a class="dropdown-trigger">
              {{t (concat "variable.mapping.pattern." editedLayer.mapping.pattern)}}
              <i class="iconfont iconfont-angle-down"></i>
            </a>
          {{/x-dropdown.x-trigger}}
          <ul class="dropdown">
            <li {{action 'bindMappingPattern' editedLayer 'solid'}}>{{t 'variable.mapping.pattern.solid'}}</li>
            <li {{action 'bindMappingPattern' editedLayer 'horizontal'}}>{{t 'variable.mapping.pattern.horizontal'}}</li>
            <li {{action 'bindMappingPattern' editedLayer 'vertical'}}>{{t 'variable.mapping.pattern.vertical'}}</li>
            <li {{action 'bindMappingPattern' editedLayer 'diagonal'}}>{{t 'variable.mapping.pattern.diagonal'}}</li>
          </ul>
        </div>
        <div>
          {{color-picker value=editedLayer.mapping.color}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="button filled primary" {{action 'navigateTo' 'graph'}}>Fermer</div>
  </div>
</div>