<div class="edit-layer">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="layer">
        <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUANTI-val_symboles.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="title">Choix des variables</div>
  <div class="body">
    <div class="settings vertical flow">
      {{#each editedLayer.mapping.mappings as |mapping|}}
        {{mapping-var-selector
          variables=model.data.columns
          mapping=mapping
        }}
      {{/each}}
    </div>
    <div class="horizontal middle flow">
        <label class="solid w4">{{x-capitalize (t 'export.settings.title')}}</label>
        {{input value=editedLayer.mapping.title}}
      </div>
  </div>

  {{#if editedLayer.mapping.isBoundToVar}}
    {{#each editedLayer.mapping.mappings as |mapping|}}
      {{#if (x-eq mapping.type 'quanti.val_symboles')}}
        {{mapping-settings/val-symbols
          standalone=false
          mapping=mapping
          bind=(action 'bind')
        }}
      {{else if (x-eq mapping.type 'quanti.val_surfaces')}}
        {{mapping-settings/val-surfaces
          standalone=false
          mapping=mapping
          bind=(action 'bind')
        }}
      {{/if}}
    {{/each}}
  {{/if}} {{! boundToVar }}
</div>