<div class="configuration-panel filled padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.layer'}}{{t "navigation.chooseVisualization"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i>{{x-capitalize (t (concat "visualization." editedLayer.mapping.type ".name"))}}</div>
    <div class="actions">
      {{#link-to 'graph.layer'}}<div class="small button filled default" {{action 'navigateTo' 'graph.layer'}}>Changer de visualisation</div>{{/link-to}}
      {{#link-to 'graph'}}<div class="small button filled default" {{action 'navigateTo' 'graph'}}>Fermer</div>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="settings vertical flow">
      <div class="horizontal flow">
        <div class="solid vertical airy flow w6">
          <div>
              <label>Méthode de séparation</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{#unless editedLayer.mapping.scale.intervalType}}
                  Choisir
                  {{else}}
                  {{t (concat "variable.mapping.interval.type." editedLayer.mapping.scale.intervalType)}}
                  {{/unless}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'linear'}}>{{t 'variable.mapping.interval.type.linear'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'regular'}}>{{t 'variable.mapping.interval.type.regular'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'mean'}}>{{t 'variable.mapping.interval.type.mean'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'quantile'}}>{{t 'variable.mapping.interval.type.quantile'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{#if editedLayer.mapping.scale.possibleClasses.length}}
          <div>
              <label>Nombre de classes</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{editedLayer.mapping.scale.classes}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each editedLayer.mapping.scale.possibleClasses as |count|}}
                    <li {{action 'bind' editedLayer.mapping.scale 'classes' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{/if}}
          <div class="horizontal airy flow">
              <label>Séparation des valeurs</label>
              {{input-numeric numericValue=editedLayer.mapping.scale.valueBreak class="value-break-input"}}
          </div>
          {{#if (x-every editedLayer.mapping.scale.possibleClasses.length editedLayer.mapping.scale.diverging)}}
          <div>
              <label>Nombre de classes avant rupture</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{editedLayer.mapping.scale.classesBeforeBreak}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each editedLayer.mapping.scale.possibleClassesBeforeBreak as |count|}}
                    <li {{action 'bind' editedLayer.mapping.scale 'classesBeforeBreak' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{/if}}
          <div>
              <label>Contraste</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{t (concat 'variable.mapping.contrast.' editedLayer.mapping.scale.contrast)}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'cube_root'}}>{{t 'variable.mapping.contrast.cube_root'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'sqrt'}}>{{t 'variable.mapping.contrast.sqrt'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'identity'}}>{{t 'variable.mapping.contrast.identity'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'square'}}>{{t 'variable.mapping.contrast.square'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          <div class="horizontal airy flow">
              <div>
                <Label>Taille du plus grand symbol</Label>
                {{x-slider class="fluid" band=0.5 value=editedLayer.mapping.visualization.maxSize min=editedLayer.mapping.visualization.minSize max=24}}
              </div>
          </div>
          <div class="horizontal airy middle flow">
             {{#o-wrap.shape-selection obj=editedLayer.mapping as |shapeSelection|}}
              <label>Forme</label>
              {{shape-dropdown
                shapes=shapeSelection.availableShapes
                value=editedLayer.mapping.visualization.shape
                color=editedLayer.mapping.visualization.color
              }}
            {{/o-wrap.shape-selection}}
            {{#if editedLayer.mapping.scale.diverging}}
              {{color-picker value=editedLayer.mapping.visualization.colorBeforeBreak}}
            {{/if}}
            {{color-picker value=editedLayer.mapping.visualization.color}}
          </div>
          <div class="horizontal airy middle solid flow w5">
              <Label>Epaisseur du trait</Label>
              {{x-slider class="fluid" band=0.5 value=editedLayer.mapping.visualization.stroke min=0 max=5}}
          </div>
          <div class="horizontal airy middle solid flow w5">
              <Label>Opacité</Label>
              {{x-slider class="fluid" band=0.1 value=editedLayer.opacity min=0 max=1}}
          </div>
        </div>
        
        <div class="solid vertical flow w6">
          {{distribution-bars mapping=editedLayer.mapping}}
        </div>
      </div>
      {{#if editedLayer.mapping.rules.length}}
      <div>
          <label>Absence de données</label>
          <ul class="collection">
          {{#each editedLayer.mapping.rules as |rule|}}
          <li>
            <div class="horizontal space-between flow layer-header">
              <div class="horizontal airy flow">
                {{#if rule.emptyValue}}
                  <span class="varname">{{t (concat 'variable.mapping.rule.' rule.label)}}</span><span>({{rule.qty}})</span>
                {{else}}
                  <span class="varname">{{rule.label}}</span><span>({{rule.qty}})</span>
                {{/if}}
              </div>
              <div class="solid w4 text-right no-drag">
                <a {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
                {{color-picker value=rule.color}}
              </div>
            </div>
          </li>
          {{/each}}
          </ul>
      </div>
      {{/if}}
    </div>
  </div>
</div>