<div class="edit-layer vertical flow">
    <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>

    <div class="body solid">
        <ul class="collection">
            <li class="layer">
                <div class="horizontal flow clickable" {{action 'navigateTo' 'graph.layer'}}>
                    <div class="caption">
                        <img src="{{r-url 'assets/images/viz/QUALI-cat_symboles.svg'}}">
                    </div>
                    <div class="vertical stretched middle flow padded-h content">
                        <span class="title">{{t "visualization.type.quali.cat_symboles.name"}}</span>
                        <p class="description">{{t "visualization.type.quali.cat_symboles.description"}}</p>
                    </div>
                </div>
            </li>
        </ul>

        {{#if (x-greater editedLayer.mapping.rules.length 8)}}
        <div class="report">
            {{#x-tooltip position="bottom" yieldMessage=true as |tooltip|}}
              {{#if tooltip.html}}
                {{#tooltip.html}}
                  <p>
                    {{x-capitalize (t "visualization.warning.rule.count.explenation")}}
                  </p>
                  <p>
                    {{x-capitalize (t "visualization.warning.rule.count.help._")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.1")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.2")}}<br/>
                    {{x-capitalize (t "visualization.warning.rule.count.help.3")}}
                  </p>
                {{/tooltip.html}}
              {{else}}
                <div class="warning report-message">
                    <div class="horizontal flow space-between">
                      <div class="solid">
                        <b class="text-warning">1</b>
                        {{x-capitalize (t "visualization.warning.rule.count.title" count=1)}}
                      </div>
                      <div class="solid">
                        <a href="#" class="small button">{{x-capitalize (t "visualization.warning.rule.count.about")}}</a>
                      </div>
                    </div>
                </div>
              {{/if}}
            {{/x-tooltip}}
        </div>
        {{/if}}
    </div>


  <div class="body vertical flow">

    <div class="settings vertical flow">

    {{#o-wrap.rules obj=editedLayer.mapping as |rulesWrap|}}

      <div class="vertical flow">

          {{#o-wrap.brewer obj=editedLayer.mapping as |brewer|}}

          <div class="title underlined" style="margin-top:20px;">{{x-capitalize (t 'visualization.title.categories')}}</div>

          <div class="horizontal right solid flow padded-t">
            <a class="solid button filled" {{action 'randomizeRules'}}><i class="iconfont iconfont-redo"></i></a>
          </div>

          <ul class="collection categories-list fluid scrollable" style="overflow-y: scroll;">
              {{#each editedLayer.mapping.rules as |rule|}}
                  <li>

                    <div class="categories-name">

                        {{#if rule.emptyValue}}
                              <span class="varname">{{t (concat 'visualization.rule.' rule.label)}}</span>
                        {{else}}
                              <span class="varname">{{rule.label}}</span>
                        {{/if}}

                        <a class="toggle-visibility" {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>

                        <div class="flow">
                              {{x-progress class="categories-progress" value=rule.qty max=rulesWrap.maxQty}}
                        </div>
                      </div>

                      <div class="categories-controls">

                          <div class="categories-control categories-shape-control">
                              {{shape-dropdown shapes=editedLayer.mapping.visualization.availableShapes value=rule.shape  color="#977864" }}
                          </div>

                          <div class="categories-control categories-fill-color-control">
                              {{color-picker value=rule.color}}
                          </div>

                          <div class="categories-control categories-shape-size-control">
                              {{x-slider class="fluid" band=0.5 value=rule.size min=1 max=editedLayer.mapping.visualization.absoluteMaxSize}}
                          </div>

                      </div>
                  </li>
              {{/each}}
          </ul>
          {{/o-wrap.brewer}}
      </div>

      <div class="vertical solid flow">

        <div class="title underlined">{{x-capitalize (t 'visualization.settings.title')}}</div>

        <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.strokeSize')}}</label>
            <div class="horizontal half-airy solid flow w7">
                {{x-slider class="fluid" band=0.5 value=editedLayer.mapping.visualization.stroke min=0 max=6}}
            </div>
        </div>

        <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.opacity')}}</label>
            <div class="horizontal half-airy solid flow w7">
                {{x-slider class="fluid" band=0.1 value=editedLayer.opacity min=0 max=1}}
            </div>
        </div>

      </div>

    {{/o-wrap.rules}}
    </div>
  </div>
</div>

<!--TODO: Blocks spacing-->
<!--TODO: Scrollbar -->