<div class="configuration-panel filled padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.layer'}}{{t "navigation.chooseVisualization"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i>{{x-capitalize (t (concat "visualization." editedLayer.mapping.type ".name"))}}</div>
    <div class="actions">
      {{#link-to 'graph'}}<div class="small button filled default" {{action 'navigateTo' 'graph'}}>Fermer</div>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="settings vertical flow">
      <div class="horizontal flow">
        <div class="solid vertical airy flow w6">
          <div>
              <label>Méthode de séparation</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{#unless editedLayer.mapping.scale.intervalType}}
                  Choisir
                  {{else}}
                  {{editedLayer.mapping.scale.intervalType}}
                  {{!t (concat "variable.mapping.interval.type." editedLayer.mapping.scale.intervalType ".name")}}
                  {{/unless}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'linear'}}>{{t 'variable.mapping.interval.type.linear'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'regular'}}>{{t 'variable.mapping.interval.type.regular'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'mean'}}>{{t 'variable.mapping.interval.type.mean'}}</li>
                  <li {{action 'bindScaleIntervalType' editedLayer.mapping.scale 'quantile'}}>{{t 'variable.mapping.interval.type.quantile'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{#if editedLayer.mapping.scale.possibleClasses.length}}
          <div>
              <label>Nombre de classes</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{editedLayer.mapping.scale.classes}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each editedLayer.mapping.scale.possibleClasses as |count|}}
                    <li {{action 'bind' editedLayer.mapping.scale 'classes' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{/if}}
          <div>
              <label>Value break</label>
              {{input-numeric numericValue=editedLayer.mapping.scale.valueBreak}}
          </div>
          {{#if (x-every editedLayer.mapping.scale.possibleClasses.length editedLayer.mapping.scale.diverging)}}
          <div>
              <label>Nombre de classes avant rupture</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{editedLayer.mapping.scale.classesBeforeBreak}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each editedLayer.mapping.scale.possibleClassesBeforeBreak as |count|}}
                    <li {{action 'bind' editedLayer.mapping.scale 'classesBeforeBreak' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          {{/if}}
          <div>
              <label>Contraste</label>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger}}
                  {{t (concat 'variable.mapping.contrast.' editedLayer.mapping.scale.contrast)}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'cube_root'}}>{{t 'variable.mapping.contrast.cube_root'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'sqrt'}}>{{t 'variable.mapping.contrast.sqrt'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'identity'}}>{{t 'variable.mapping.contrast.identity'}}</li>
                  <li {{action 'bind' editedLayer.mapping.scale 'contrast' 'square'}}>{{t 'variable.mapping.contrast.square'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
          </div>
          <div>
              {{#o-wrap.shape-selection obj=editedLayer.mapping as |shapeSelection|}}
              <label>Forme</label>
              {{shape-dropdown
                shapes=shapeSelection.availableShapes
                value=editedLayer.mapping.visualization.shape
                color=editedLayer.mapping.visualization.color
              }}
              {{/o-wrap.shape-selection}}
          </div>
          <div>
            {{color-picker value=editedLayer.mapping.visualization.color}}
          </div>
          {{#if editedLayer.mapping.scale.diverging}}
          <div>
            {{color-picker value=editedLayer.mapping.visualization.colorBeforeBreak}}
          </div>
          {{/if}}
        </div>
        <div class="solid vertical flow w6">
          {{distribution-bars mapping=editedLayer.mapping}}
        </div>
      </div>
      <div>
        <div>
            {{#o-wrap.brewer obj=editedLayer.mapping as |brewer|}}
            {{#x-tabs}}
                <ul class="tabs brewer-tabs">
                  <li tab-id="color-swatchs">Couleurs</li>
                  <li tab-id="texture-swatchs">Hachures</li>
                </ul>
                <div class="panes">
                  <div class="tab-pane {{if editedLayer.mapping.visualization.colors 'active'}}" id="color-swatchs">
                    <div class="vertical breakable flow swatchs" style="height: 100px">
                      {{#each brewer.availableColorSets as |colorSet|}}
                        <div class="solid w3 padded" {{action 'bind' editedLayer.mapping.visualization 'colors' colorSet.key}}>
                          {{color-swatch
                            class=(if (x-eq colorSet.key editedLayer.mapping.visualization.colors) 'selected')
                            colors=colorSet.colors
                          }}
                        </div>
                      {{/each}}
                    </div>
                  </div>
                  <div class="tab-pane {{if editedLayer.mapping.visualization.pattern 'active'}}" id="texture-swatchs">
                    <div class="horizontal flow">
                      <div class="vertical breakable flow w8" style="height: 100px">
                        {{#each brewer.availablePatterns as |pattern|}}
                          <div class="solid w3 padded" {{action 'bind' editedLayer.mapping.visualization 'pattern' pattern}}>
                            {{pattern-swatch pattern=pattern
                              classBreak=editedLayer.mapping.scale.classesBeforeBreak
                              count=editedLayer.mapping.scale.classes
                              color=editedLayer.mapping.visualization.patternColor
                              class=(if (x-eq pattern.key editedLayer.mapping.visualization.pattern.key) 'selected')
                            }}
                          </div>
                        {{/each}}
                      </div>
                      <div class="vertical airy middle center flow">
                        <label>Couleur des hachures</label>
                        <div class="solid">
                        {{color-picker value=editedLayer.mapping.visualization.patternColor}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            {{/x-tabs}}
            {{/o-wrap.brewer}}
          </div>
          <div>
              <label>Absence de données</label>
              <ul class="collection">
              {{#each editedLayer.mapping.rules as |rule|}}
              <li>
                <div class="horizontal space-between flow layer-header">
                  <div class="horizontal airy flow">
                    {{#if rule.emptyValue}}
                      <span class="varname">{{t (concat 'mapping.rule.' rule.label)}}</span><span>({{rule.qty}})</span>
                    {{else}}
                      <span class="varname">{{rule.label}}</span><span>({{rule.qty}})</span>
                    {{/if}}
                  </div>
                  <div class="solid w4 text-right no-drag">
                    <a {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
                    {{color-picker value=rule.color}}
                  </div>
                </div>
              </li>
              {{/each}}
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>