<div class="horizontal center flow filled default">
  
  <div class="solid w3 padded-v">
    <div class="vertical airy right padded flow">
      <a class="button {{if (x-eq currentState 'import') 'text-success'}}" {{action 'navigateTo' 'import'}}>Importer des données</a>
      <a class="button {{if (x-eq currentState 'test-data') 'text-success'}}" {{action 'navigateTo' 'test-data'}}>Démarrer avec un jeu de test</a>
      <a class="button" {{action 'navigateTo' 'empty'}}>Démarrer avec un tableur vide</a>
    </div>
  </div>
  <div class="solid w6 filled">
    {{outlet}}
  </div>
  
</div>


<!--<div class="stepper stepper-start">

    <h2 class="stepper__title">Nouveau projet</h2>

    <div class="stepper__options">

        <div class="stepper__option">
            <div class="inner">
                <i class="fa fa-folder-open-o"></i>
                <h3>Importer des données</h3>
            </div>
        </div>

        <div class="stepper__option" {{action 'createDataSet'}} >
            <div class="inner">
                <i class="fa fa-file"></i>
                <h3>Partir d'un jeu vide</h3>
            </div>
        </div>
    </div>


</div>-->

