{{input type="text" value=filterText class="map-selector-search" placeholder=(x-capitalize (t 'project.step1.search'))}}

<div class="map-selector-results">

  <h4>Monde et régions du monde</h4>
  <ul>
    {{#each queryMaps as |map|}}
      <li {{action 'select' map}} class="{{if (x-eq selection.mapConfig.id map.id) 'selected'}}">
        {{#if map.custom}}
        <span>{{map.id}} [Importé]</span>
        {{else}}
        <span> {{x-capitalize (t (concat 'basemap.' map.id))}}</span>
        {{/if}}
        <span>
          {{#unless map.custom}}
          <img src="{{r-url (concat 'assets/images/map-thumbnails/' map.id spaceToDash=true)}}.png"/>
          {{/unless}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>
