<div class='sp-replacer {{if stroke 'of-stroke' 'of-fill'}}' {{action 'togglePicker'}}>
    <div class='sp-preview'>
      <div class='sp-preview-inner'>
        {{pattern-swatch
          pattern=selectedPattern
          count=1
          color=value
        }}
      </div>
    </div>
    <div class='sp-dd'><i class="iconfont iconfont-angle-down"></i></div>
</div>
{{#ember-wormhole to="picker-wormhole"}}
  <div id="color-picker-{{customElementId}}" class='sp-container sp-hidden'>
    {{#if pickerOpened}}
    <div class="sp-content-container">
      <div class='sp-palette-container'>
        <div class='sp-palette sp-thumb sp-cf'></div>
        <div class='sp-palette-button-container sp-cf'>
          <button type='button' class='sp-palette-toggle'></button>
        </div>
      </div>
      <div class='sp-picker-container'>
        <div class='sp-top sp-cf'>
          <div class='sp-fill'></div>
          <div class='sp-top-inner'>
            <div class='sp-color'>
              <div class='sp-sat'>
                <div class='sp-val'>
                  <div class='sp-dragger'></div>
                </div>
              </div>
            </div>
            <div class='sp-clear sp-clear-display'></div>
            <div class='sp-hue'>
              <div class='sp-slider'></div>
            </div>
          </div>
          <div class='sp-alpha'>
            <div class='sp-alpha-inner'>
              <div class='sp-alpha-handle'></div>
            </div>
          </div>
        </div>
        <div class='sp-input-container sp-cf'>
          <input class='sp-input' type='text' spellcheck='false' />
        </div>
        <div class='sp-initial sp-thumb sp-cf'></div>
      </div>
    </div>
    {{#if patternChooserEnabled}}
    <div class="sp-pattern-container">
      <div class="sp-fieldset">
        <span class="sp-fieldset-label">{{x-capitalize (t 'visualization.settings.pattern' count=2)}}</span>
      </div>
      <ul>
      {{#each patternPalette as |pattern|}}
        <li class="sp-pattern-swatch">
          <a {{action 'selectPattern' pattern}}>
          {{pattern-swatch
            pattern=pattern
            count=1
            color=value
            class=(if (x-eq pattern.key selectedPattern.key) 'selected')
          }}
          </a>
        </li>
      {{/each}}
      </ul>
      {{#if selectedPattern}}
        <div class="sp-pattern-slider">
          <label>{{x-capitalize (t 'visualization.settings.scale')}}</label>
          {{x-slider class="fluid offset-slider" band=0.5 value=selectedPattern.stroke min=1 max=12}}
        </div>
      {{/if}}
    </div>
    {{/if}}
    <div class='sp-button-container sp-cf'>
      <a class='sp-cancel' href='#' {{action 'revert'}}>{{t 'general.cancel'}}</a>
      <button type='button' class='sp-choose' {{action 'close'}}>{{t 'general.close'}}</button>
    </div>
    {{/if}}
  </div>
{{/ember-wormhole}}