<div class="graph vertical flow">
    <div class="horizontal flow">
      <aside class="solid vertical flow">
        {{outlet 'header'}}
        <div class="horizontal flow">
          <div class="vertical-navbar">
              <div class="state-icon {{if isInStateGeovars 'selected'}}" {{action 'selectState' 'geovars'}}><i
                      class="iconfont iconfont-map"></i></div>
              <div class="state-icon {{if isInStateLayout 'selected'}}" {{action 'selectState' 'layout'}}><i
                      class="iconfont iconfont-map"></i></div>
              <div class="state-icon {{if isInStateMapping 'selected'}}" {{action 'selectState' 'mapping'}}><i
                      class="iconfont iconfont-sliders"></i></div>
          </div>
          <div class="airy vertical flow padded">
            {{partial sidebar}}
          </div>
        </div>
      </aside>
        <div class="stretched flow" style="position: relative;">
            <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px">
              {{#if basemapData}}
              
                {{map-editor data=model.data
                base=basemapData
                graphLayout=model.graphLayout
                graphLayers=model.graphLayers
                onAskVersioning="onAskVersioning"
                }}

              {{/if}}
              
              {{#x-sticky-panel class="projection-panel open"}}

                {{#x-tooltip message="Projection" position="left"}}
                    <div class="trigger">
                        <i class="iconfont iconfont-more-horiz"></i>
                    </div>
                {{/x-tooltip}}
                <div class="wrapper">
                  <div class="padded">
                    <h3>Projection</h3>
                  </div>
                  <div class="padded">
                    {{t (concat "projection." model.graphLayout.projection.id ".name")}}
                    <a {{action 'navigateTo' 'graph.projection'}}><i class="iconfont iconfont-pencil"></i></a>
                    {{x-stars value=model.graphLayout.projection.score_angle class="stars"}}
                  </div>
                </div>
              {{/x-sticky-panel}}

              {{#x-sticky-panel class="toolbar"}}

                {{#x-tooltip message="Outils" position="left"}}
                    <div class="trigger">
                        <i class="iconfont iconfont-more-horiz"></i>
                    </div>
                {{/x-tooltip}}


                  <div class="wrapper">
                      <ul class="toolbar-items">
                        {{#x-tooltip message="Undo" position="left"}}
                            <li {{action 'onAskVersioning' 'undo'}}>
                                <i class="iconfont iconfont-undo"></i>
                            </li>
                        {{/x-tooltip}}
                        {{#x-tooltip message="Redo" position="left"}}
                            <li {{action 'onAskVersioning' 'redo'}}>
                                <i class="iconfont iconfont-redo"></i>
                            </li>
                        {{/x-tooltip}}
                        {{#x-tooltip message="Centrer" position="left"}}
                            <li {{action 'resetTranslate'}}>
                                <i class="iconfont iconfont-arrows"></i>
                            </li>
                        {{/x-tooltip}}
                      </ul>
                  </div>
              {{/x-sticky-panel}}
              
              {{outlet "configuration-panel"}}
              
            </div>
        </div>
    </div>
    
</div>