{{outlet 'sidebar'}}
{{!outlet 'sidebar-sub'}}

<div class="graph vertical flow">

    <div class="horizontal flow">

      <div class="stretched vertical flow">

          <header class="filled volet2 horizontal flow">

            <div class="horizontal bottom space-between solid airy flow padded-v">
              {{#if model.graphLayout.projection}}
                <div class="vertical bottom solid flow padded-h" style="width: 120px">
                  <b>{{t (concat "projection." model.graphLayout.projection.id ".name")}}</b>
                </div>
                <div class="horizontal bottom solid flow" style="width: 200px">
                  <div class="vertical solid flow w4">
                    <label>surface</label>
                    {{x-stars value=model.graphLayout.projection.score_area iconFalse="iconfont-star-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                  <div class="vertical solid flow w4">
                    <label>distance</label>
                    {{x-stars value=model.graphLayout.projection.score_distance iconFalse="iconfont-star-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                  <div class="vertical solid flow w4">
                    <label>angle</label>
                    {{x-stars value=model.graphLayout.projection.score_angle iconFalse="iconfont-star-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                </div>
                <div {{action 'toggleProjection'}} class=" solid button"> <i class="iconfont iconfont-angle-down"></i></div>
              {{/if}}
            </div>

            <div class="horizontal bottom space-between solid flow w6 padded">
                {{#if (x-eq model.graphLayout.projection.translation_x 1)}}
                <div class="vertical flow">
                  <label>Longitude</label>
                  {{x-slider-editable class="fluid" tickAppend="°" band=1 value=model.graphLayout.projection.rotateX min=-180 max=180}}
                </div>
                {{/if}}
                {{#if (x-eq model.graphLayout.projection.translation_y 1)}}
                <div class="vertical flow">
                  <label>Latitude</label>
                  {{x-slider-editable class="fluid" tickAppend="°" band=1 value=model.graphLayout.projection.rotateY min=-180 max=180}}
                </div>
                {{/if}}
                {{#if (x-eq model.graphLayout.projection.rotation_z 1)}}
                <div class="vertical flow">
                  <label>Rotation</label>
                  {{x-slider-editable class="fluid" tickAppend="°" tickFormat=",.0f" band=1 value=model.graphLayout.projection.rotateZ min=-180 max=180}}
                </div>
                {{/if}}
            </div>

            <div class="horizontal bottom airy flow padded-v">
              <div class="button">+</div>
              <div class="button">-</div>
              <div class="button"><i class="iconfont iconfont-crosshairs"></i></div>
            </div>
          </header>

          <div class="fluid" style="position: relative;">
            {{#if (x-every basemapData model.graphLayout.projection)}}

              {{map-editor data=model.data
              base=basemapData
              graphLayout=model.graphLayout
              graphLayers=model.graphLayers
              title=model.title
              onAskVersioning="onAskVersioning"
              }}

            {{/if}}

            {{outlet "configuration-panel"}}

          </div>
        </div>
    </div>
</div>