{{outlet 'sidebar'}}
{{outlet 'sidebar-sub'}}

<div class="graph vertical flow">

    <div class="horizontal flow">

      <div class="stretched vertical flow body {{if sidebarSubExpanded 'expanded'}}" style="overflow: hidden">

          <header class="filled volet2 horizontal solid flow graph-topbar">

            <div class="projection horizontal bottom space-between solid airy flow filled volet2 clickable hover-effect" {{action 'toggleProjection'}} >
              {{#if projectionConfigurable}}
                <div class="vertical bottom solid flow padded-h projection-name">
                  <label>{{t 'projection.title'}}</label>
                  <b>{{t (concat "projection." model.graphLayout.projection.id ".name")}}</b>
                </div>
                <div class="horizontal bottom solid flow projection-stars">
                  <div class="vertical solid flow w4">
                    <label>{{t 'projection.rating.surface'}}</label>
                    {{x-stars value=model.graphLayout.projection.score_area iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                  <div class="vertical solid flow w4">
                    <label>{{t 'projection.rating.distance'}}</label>
                    {{x-stars value=model.graphLayout.projection.score_distance iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                  <div class="vertical solid flow w4">
                    <label>{{t 'projection.rating.angle'}}</label>
                    {{x-stars value=model.graphLayout.projection.score_angle iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
                  </div>
                </div>
                <div class="solid button padded-r toggle-projection-button"> <i class="iconfont iconfont-angle-down"></i></div>
              {{/if}}
            </div>

            <div class="horizontal bottom space-between flow padded-h">
                {{#if (x-eq model.graphLayout.projection.translation_x 1)}}
                <div class="vertical solid flow w4">
                  <label>{{x-capitalize (t 'projection.settings.longitude')}}</label>
                  {{x-slider-editable class="proj-slider fluid" inputPosition="left" tickAppend="°" band=1 value=model.graphLayout.projection.rotateX min=-180 max=180}}
                </div>
                {{/if}}
                {{#if (x-eq model.graphLayout.projection.translation_y 1)}}
                <div class="vertical solid flow w4">
                  <label>{{x-capitalize (t 'projection.settings.latitude')}}</label>
                  {{x-slider-editable class="proj-slider fluid" inputPosition="left" tickAppend="°" band=1 value=model.graphLayout.projection.rotateY min=-90 max=90}}
                </div>
                {{/if}}
                {{#if (x-eq model.graphLayout.projection.rotation_z 1)}}
                <div class="vertical solid flow w4">
                  <label>{{x-capitalize (t 'projection.settings.rotation')}}</label>
                  {{x-slider-editable class="proj-slider fluid" inputPosition="left" tickAppend="°" tickFormat=",.0f" band=1 value=model.graphLayout.projection.rotateZ min=-90 max=90}}
                </div>
                {{/if}}
            </div>

            
          </header>

          <div class="fluid" style="position: relative;">
            {{#if model.graphLayout.projection}}
              {{map-editor
                class=model.blindnessMode
                graphLayout=model.graphLayout
                graphLayers=model.graphLayers
                labellingLayers=model.labellingLayers
                title=model.title
                dataSource=model.dataSource
                author=model.author
                displayOffsets=isInStateExport
                displayDocumentMask=isInStateExport
                hasCompositionBordersFeature=model.graphLayout.projection.isComposite
                onAskVersioning="onAskVersioning"
              }}
            {{/if}}

            {{outlet "configuration-panel"}}

            <div class="vertical half-airy solid flow control-buttons">
              <div class="bordered button control-button zoom" {{action 'resetTranslate'}}><i class="iconfont iconfont-move"></i></div>
              <div class="bordered button control-button zoom-plus" {{action 'zoomPlus'}}><i class="iconfont iconfont-plus"></i></div>
              <div class="bordered button control-button zoom-minus" {{action 'zoomMoins'}}><i class="iconfont iconfont-minus"></i></div>
              <div class="separator"></div>
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class=(concat "bordered button control-button " (if model.blindnessMode 'selected')) triggerPivot="top left" dropdownPivot="top right"}}
                  <i class="iconfont iconfont-blindness"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li class="title">{{x-capitalize (t 'blindness.menu.title')}}</li>
                  <li {{action 'setBlindnessMode' null}}>{{x-capitalize (t 'general.none')}}</li>
                  <li {{action 'setBlindnessMode' 'protanopia'}} class="{{if (x-eq model.blindnessMode 'protanopia') 'selected'}}">{{x-capitalize (t 'blindness.type.protanopia')}}</li>
                  <li {{action 'setBlindnessMode' 'protanomaly'}} class="{{if (x-eq model.blindnessMode 'protanomaly') 'selected'}}">{{x-capitalize (t 'blindness.type.protanomaly')}}</li>
                  <li {{action 'setBlindnessMode' 'deuteranopia'}} class="{{if (x-eq model.blindnessMode 'deuteranopia') 'selected'}}">{{x-capitalize (t 'blindness.type.deuteranopia')}}</li>
                  <li {{action 'setBlindnessMode' 'deuteranomaly'}} class="{{if (x-eq model.blindnessMode 'deuteranomaly') 'selected'}}">{{x-capitalize (t 'blindness.type.deuteranomaly')}}</li>
                  <li {{action 'setBlindnessMode' 'tritanopia'}} class="{{if (x-eq model.blindnessMode 'tritanopia') 'selected'}}">{{x-capitalize (t 'blindness.type.tritanopia')}}</li>
                  <li {{action 'setBlindnessMode' 'tritanomaly'}} class="{{if (x-eq model.blindnessMode 'tritanomaly') 'selected'}}">{{x-capitalize (t 'blindness.type.tritanomaly')}}</li>
                  <li {{action 'setBlindnessMode' 'achromatopsia'}} class="{{if (x-eq model.blindnessMode 'achromatopsia') 'selected'}}">{{x-capitalize (t 'blindness.type.achromatopsia')}}</li>
                  <li {{action 'setBlindnessMode' 'achromatomaly'}} class="{{if (x-eq model.blindnessMode 'achromatomaly') 'selected'}}">{{x-capitalize (t 'blindness.type.achromatomaly')}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>

          </div>
        </div>
    </div>
</div>
<canvas id="export-canvas" style="display: none; width: 0; height: 0;"></canvas>