  <div class="body">
    <div class="settings vertical flow">
      {{#if standalone}}
      <div class="title underlined">{{x-capitalize (t 'visualization.settings.title')}}</div>
      {{else}}
      <div class="title underlined multi-mapping">{{x-capitalize (t 'visualization.settings.surfaces')}}</div>
      {{/if}}
      <div class="solid vertical flow">
        <div class="horizontal middle flow">
            {{#x-tooltip message=(t 'visualization.settings.discretization.tooltip.title')}}
            <label class="solid w5"><span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.discretization.title')}}</span></label>
            {{/x-tooltip}}
            <div class="solid w7">
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class="filled padded-h w8"}}
                  {{#unless mapping.scale.intervalType}}
                  Choisir
                  {{else}}
                  {{t (concat "visualization.settings.discretization.type." mapping.scale.intervalType)}}
                  {{/unless}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  <li {{action 'bindScaleIntervalType' mapping.scale 'regular'}}>{{t 'visualization.settings.discretization.type.regular'}}</li>
                  <li {{action 'bindScaleIntervalType' mapping.scale 'mean'}}>{{t 'visualization.settings.discretization.type.mean'}}</li>
                  <li {{action 'bindScaleIntervalType' mapping.scale 'quantile'}}>{{t 'visualization.settings.discretization.type.quantile'}}</li>
                  <li {{action 'bindScaleIntervalType' mapping.scale 'standardDeviation'}}>{{t 'visualization.settings.discretization.type.standardDeviation'}}</li>
                  <li {{action 'bindScaleIntervalType' mapping.scale 'jenks'}}>{{t 'visualization.settings.discretization.type.jenks'}}</li>
                  <li {{action 'bindScaleIntervalType' mapping.scale 'manual'}}>{{t 'visualization.settings.discretization.type.manual'}}</li>
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>
          </div>
          {{#unless (x-eq mapping.scale.intervalType 'manual')}}
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.classes')}}</label>
            <div class="solid w7">
              {{#x-dropdown-plus as |facet|}}
                {{#facet.trigger class="filled padded-h"}}
                  {{mapping.scale.classes}}
                  <i class="iconfont iconfont-angle-down"></i>
                {{/facet.trigger}}
                {{#facet.list}}
                  {{#each mapping.possibleClasses as |count|}}
                    <li {{action 'bind' mapping.scale 'classes' count}}>{{count}}</li>
                  {{/each}}
                {{/facet.list}}
              {{/x-dropdown-plus}}
            </div>
          </div> 
          {{else}}
            {{manual-threshold-input
              label=(x-capitalize (t 'visualization.settings.thresholds'))
              class="horizontal flow"
              scale=mapping.scale
              min=mapping.extentMin
              max=mapping.extentMax
            }}
          {{/unless}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.breakValue')}} ?</label>
            <div class="horizontal solid half-airy flow w7">
              {{input-numeric/one-way
                readonly=(x-true-or-undef mapping.shouldDiverge)
                numericValue=mapping.scale.valueBreak
                class="value-break-input solid w5 padding-fix"
                nullable=true
                min=mapping.extentMin
                max=mapping.extentMax
                update=(action 'updateValueBreak')
                placeholder=(t 'general.none')}}
              {{#if mapping.scale.diverging}}
                {{#if mapping.scale.usesInterval}}
                  {{#unless (x-eq mapping.scale.intervalType 'manual')}}
                    {{#o-wrap/classes-before-break
                      classes=mapping.scale.classesBeforeBreak
                      totalClasses=mapping.scale.classes
                      possibilities=mapping.possibleClassesBeforeBreak as |wrap|}}
                      {{#if wrap.editable}}
                      {{x-slider class="fluid offset-slider" displayTick=false tickFormat="d" band=1 value=wrap.cursor min=wrap.min max=wrap.max}}
                      {{/if}}
                    {{/o-wrap/classes-before-break}}
                  {{/unless}}
                {{/if}}
              {{/if}}
            </div>
          </div>

          {{#o-wrap/brewer obj=mapping as |brewer|}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=2)}} ?</label>
            <div class="horizontal half-airy solid flow w7 layer-color-selector">
              {{#unless mapping.usePattern}}
                {{#x-dropdown-plus as |facet|}}
                  {{#facet.trigger class="filled"}}
                    {{color-swatch class="layer-color-swatch"
                      colors=(get brewer.availableColorSetsMap mapping.visualization.colors)
                    }}
                    <i class="iconfont iconfont-angle-down"></i>
                  {{/facet.trigger}}
                  {{#facet.list}}
                    {{#each brewer.availableColorSets as |colorSet|}}
                      <li {{action 'bind' mapping.visualization 'colors' colorSet.key}}>
                        {{color-swatch class="layer-color-swatch" colors=colorSet.colors}}
                      </li>
                    {{/each}}
                  {{/facet.list}}
                {{/x-dropdown-plus}}
              {{else}}
                {{#if mapping.scale.diverging}}
                {{color-picker value=mapping.patternColorBeforeBreak}}
                {{/if}}
                {{color-picker value=mapping.patternColor}}
              {{/unless}}
            </div>
          </div>

          {{#if withPatternSettings}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.pattern' count=2)}} ?</label>
            <div class="horizontal half-airy solid flow w7" class="layer-pattern-selector">
              <span class="offset-checkbox solid">{{input type="checkbox" checked=mapping.usePattern}}<div class="-h"></div></span>

              {{#if mapping.usePattern}}
                <ul class="layer-pattern-swatch">
                  {{#each brewer.availablePatterns as |pattern|}}
                    <li {{action 'bindPattern' pattern}}>
                      {{pattern-swatch pattern=pattern
                        count=1
                        mapping=mapping
                        class=(if (x-eq pattern.key mapping.visualization.pattern.key) 'selected')
                      }}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </div>
          </div>

          {{/if}}
          {{/o-wrap/brewer}}

          {{#if mapping.usePattern}}
          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.scale')}}</label>
            <div class="horizontal half-airy solid flow w7">
              {{x-slider class="fluid" displayTick=false tickFormat="d" band=0.5 value=mapping.visualization.pattern.stroke min=1 max=12}}
            </div>
          </div>
          {{/if}}

          <div class="horizontal middle flow">
            <label class="solid w5">{{x-capitalize (t 'visualization.settings.reverse')}} ?</label>
            <div class="horizontal half-airy solid flow w7">
                <span class="offset-checkbox">{{input type="checkbox" checked=mapping.visualization.reverse}}<div class="-h"></div></span>
            </div>
          </div>

          {{#if mapping.rules.length}}
            <div class="title underlined secondary" style="margin-top:20px;">
              {{x-capitalize (t 'visualization.title.nodata')}}
            </div>
            <ul class="collection categories-list">
            {{#each mapping.rules as |rule|}}
            <li>
              <div class="horizontal space-between flow padded-h layer-header">
                <div class="horizontal airy flow">
                  {{#if rule.emptyValue}}
                    <span class="varname">{{t (concat 'visualization.rule.' rule.label)}}</span><span>({{rule.qty}})</span>
                  {{else}}
                    <span class="varname">{{rule.label}}</span><span>({{rule.qty}})</span>
                  {{/if}}
                </div>
                <div class="solid horizontal right flow w4 no-drag">
                  <a {{action 'toggleRuleVisibility' rule}}><i class="iconfont {{if rule.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
                  {{color-picker value=rule.color selectedPattern=rule.pattern patternChooserEnabled=withPatternSettings}}
                </div>
              </div>
            </li>
            {{/each}}
            </ul>
          {{/if}}
      </div>
    </div>
  </div>
  {{#x-collapsable collapsed=diagramCollapsedDefault as |facet collapsed|}}
  {{#if facet.trigger}}
    {{#x-tooltip message=(t 'visualization.settings.diagram.tooltip.title')}}
    <div class="title {{unless collapsed 'underlined'}} secondary">
      <span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.diagram.title')}}</span>
      <i class="iconfont iconfont-{{if collapsed 'angle-right' 'angle-down'}}"/>
    </div>
    {{/x-tooltip}}
  {{/if}}
  {{#if facet.content}}
    {{#o-wrap/diagram as |wrap|}}
      <div class="horizontal flow">
        {{distribution-graph mapping=mapping
          method=wrap.selectedDiagramMethod
          xLabel=(t 'visualization.settings.diagram.values')
          yLabel=(t 'visualization.settings.diagram.frequencies')
        }}
      </div>
    {{/o-wrap/diagram}}
  {{/if}}
{{/x-collapsable}}