<div class="configuration-panel filled padded with-relief topbar">
  <div class="titlebar">
    <div class="title">{{t "navigation.editColumn"}} <span class="separator">|</span> {{editedColumn.header.value}}</div>
    <div class="actions">
      <a class="button filled primary" {{action 'navigateTo' 'graph'}}>Fermer</a>
    </div>
  </div>
  <div class="body">
    <div class="vertical airy flow">
      <div class="jumbotron">
      Certaines cellules n'ont pas été reconnues
      </div>
      <div class="settings horizontal center flow">
        <div class="solid vertical airy flow w6">
        {{#o-wrap.column obj=editedColumn as |oCol|}}
          {{#each oCol.groupedIncorrectCells as |group|}}
            {{#o-wrap.cell-correction obj=group.cell siblings=group.siblings as |oCell|}}
              <div class="horizontal airy flow">
                <div class="solid w5 cell-value text-right">
                  {{oCell.obj.value}}
                </div>
                <div class="solid w2 bind-value-arrow text-center"><i class="iconfont iconfont-long-arrow-right"></i></div>
                <div class="solid w5 cell-new-value">
                  {{#if (x-eq editedColumn.meta.type 'geo')}}
                  {{#multi-value-input uniqueSelection=oCell.worldBankValue selectionMaxLength=1 suggestionProvider=oCell.worldBank filterField=oCell.worldBankNameKey queryMinLength=0 as |facet o this|}}
                      {{#if facet.isSuggestionRow}}
                          {{#unless (is-empty (get o oCell.worldBankNameKey))}}
                          {{get o oCell.worldBankNameKey}}
                          {{else}}
                          {{get o 'name_ISO_EN'}}
                          {{/unless}}
                      {{else if facet.isSelectedValue}}
                          {{#unless (is-empty (get o oCell.worldBankNameKey))}}
                          {{get o oCell.worldBankNameKey}}
                          {{else}}
                          {{get o 'name_ISO_EN'}}
                          {{/unless}}
                      {{/if}}
                  {{/multi-value-input}}
                  {{else}}
                    {{input value=oCell.obj.correctedValue}}
                  {{/if}}
                </div>
              </div>
            {{/o-wrap.cell-correction}}
          {{/each}}
        {{/o-wrap.column}}
        </div>
      </div>
    </div>
  </div>
</div>