<div class="content">
  <div class="help jumbotron markdown">
    {{localized-tpl tpl="help/{locale}/graph/layout"}}
  </div>
  {{#x-accordion class="settings jumbotron" maxOpened=3}}
   <div class="accordion-item active" accordion-priority="9999">
        <h3 class="accordion-trigger">{{x-capitalize (t "general.mapTitle")}}<span class="iconfont iconfont-angle-right icon-closed"></span><span class="iconfont iconfont-angle-down icon-open"></span></h3>
        <div class="accordion-wrapper">
          <div class="vertical airy flow padded">
            {{input class="filled" value=model.title focus-out=(action 'onAskVersioning' 'freeze')}}
          </div>
        </div>
    </div>
    
    <div class="accordion-item active">
        <h3 class="accordion-trigger">{{x-capitalize (t "general.backMap")}}<span class="iconfont iconfont-angle-right icon-closed"></span><span class="iconfont iconfont-angle-down icon-open"></span></h3>
        <div class="accordion-wrapper">
          <div class="vertical airy flow padded">
            <div class="horizontal middle flow">
                <label class="horizontal right solid flow w2 padded-r text-right">Type</label>
                <span>Carte du monde</span>
            </div>
            <div class="horizontal middle flow">
                <label class="horizontal right solid flow w3 padded-r text-right">Précision</label>
                {{x-slider class="fluid" band=0.5 value=model.graphLayout.precision min=1 max=50}}
            </div>
            <div class="horizontal middle flow">
                <label class="horizontal right solid flow w2 padded-r text-right">Fond</label>
                {{color-picker value=model.graphLayout.backMapColor}}
            </div>
            <div class="horizontal middle flow">
                <label class="horizontal solid flow padded-r">Afficher la grille</label>
                <div class="fluid">
                  {{input type="checkbox" checked=model.graphLayout.showGrid}}
                  <div class="-h"></div>
                </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="accordion-item active" accordion-priority="9999">
        <h3 class="accordion-trigger">{{x-capitalize (t "general.pageLayout")}}<span class="iconfont iconfont-angle-right icon-closed"></span><span class="iconfont iconfont-angle-down icon-open"></span></h3>
        <div class="accordion-wrapper">
          <div class="vertical airy flow padded">
            <div class="horizontal airy middle flow">
                <div class="horizontal middle solid flow w6">
                    <label class="horizontal right solid flow w4 padded-r text-right">Larg.</label>
                    {{input value=model.graphLayout.width focus-out=(action 'onAskVersioning' 'freeze')}}
                    <small class="solid padded">px</small>
                </div>
                <div class="horizontal middle solid flow w6">
                    <label class="horizontal right solid flow w4 padded-r text-right">Haut.</label>
                    {{input value=model.graphLayout.height focus-out=(action 'onAskVersioning' 'freeze')}}
                    <small class="solid padded">px</small>
                </div>
            </div>
            <div class="horizontal airy middle flow">
              <div class="horizontal middle flow">
                  <label class="horizontal right solid flow w2 padded-r text-right">Fond</label>
                  {{color-picker value=model.graphLayout.backgroundColor}}
              </div>
            </div>
          </div>
        </div>
    </div>
    
  {{/x-accordion}}
</div>

<div class="bottom-navbar">
   <div class="fluid">
    {{#x-button class="default btn-prev" action=(action 'back')}}
        <i class="iconfont iconfont-long-arrow-left"></i> {{x-capitalize (t "navigation.sidebar.variables")}}
    {{/x-button}}
   </div>
   <div class="fluid">
    {{#x-button class="default btn-prev" action=(action 'next')}}
        {{x-capitalize (t "navigation.sidebar.layers")}} <i class="iconfont iconfont-long-arrow-right"></i>
    {{/x-button}}
   </div>
</div>
