<div class="help jumbotron markdown">
  {{localized-tpl tpl="help/{locale}/graph/geovars"}}
</div>
<div class="jumbotron">
    <div class="vertical airy flow padded-v filled">
        <ul class="column-list">
          {{#each model.data.columns as |col|}}
            <li class="{{if (x-eq selectedColumn col) 'selected'}}" {{action 'selectColumn' col}}>
                <span class="label">{{col.header.value}}</span>
                <div class="column-actions">
                    <span>{{data-type-icon meta=col.meta inconsistency=col.inconsistency}}</span>
                    <span class="caret"><i class="iconfont iconfont-angle-right"></i></span>
                </div>
            </li>
          {{/each}}
        </ul>
    </div>
</div>

<div class="navbar">
    {{#x-button class="default btn-prev" action=(action 'back')}}
        <i class="iconfont iconfont-long-arrow-left"></i> {{t "general.pageLayout"}}
    {{/x-button}}
</div>
