{{#if expanded}}
<div class="popover-toggle">
  <div class="horizontal flow space-between">
    <span class="{{unless canGoBack 'disabled'}}" {{action 'back'}}><i class="iconfont iconfont-angle-left"></i></span>
    <span><i {{action 'toggleContent'}} class="iconfont iconfont-close"></i></span>
    <span class="{{unless canGoForward 'disabled'}}" {{action 'forward'}}><i class="iconfont iconfont-angle-right"></i></span>
  </div>
</div>
<div class="popover-content">
  <iframe title="Documentation" src="{{sourceUrl}}" width="400" height="300" onload={{action 'onIframeLoad'}}>
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
{{else}}
<div class="popover-toggle" {{action 'toggleContent'}}>
  {{#x-tooltip position="left" message=(t 'help.documentation')}}
  <span>?</span>
  {{/x-tooltip}}
</div>
{{/if}}
