<div class="button export-button x-large filled primary2" {{action 'toggle' bubbles=false}}>
    {{x-capitalize (t 'general.download')}}
</div>

<div class="export-menu" style="visibility: hidden">
{{#if open}}
    <div class="vertical padded flow">
        <div class="horizontal center padded-b flow">
            <b>{{x-capitalize (t 'export.settings.formatSelection')}}</b>
        </div>
        <div class="horizontal flow overflows-h">
            <div class="w6 vertical padded-h padded-b left flow">
                <div class="export-type-title">
                    {{x-capitalize (t 'export.settings.image.title')}} (.png)
                </div>
            </div>
            <div class="w6 vertical padded-h padded-b left flow">
                <div class="export-type-title">
                    {{x-capitalize (t 'export.settings.vector')}} (.svg)
                </div>
            </div>
        </div>

        <div class="horizontal flow overflows-h">
            <div class="w6 vertical half-airy padded-h padded-b left flow bordered-r">
                <div class="solid button small filled default" {{action 'export' 'png' 1}}>
                    {{x-capitalize (t 'export.settings.image.normal')}}
                </div>
                <div class="solid button small filled default" {{action 'export' 'png' 2}}>
                    {{x-capitalize (t 'export.settings.image.large')}}
                </div>
                <div class="solid button small filled default" {{action 'export' 'png' 3}}>
                    {{x-capitalize (t 'export.settings.image.xLarge')}}
                </div>
            </div>
            <div class="w6 vertical half-airy padded-h padded-b left flow">
                <div class="solid button small filled default" {{action 'export' 'svg'}}>
                    SVG
                </div>
                <div class="solid button small filled default" {{action 'export' 'svg' 'illustrator'}}>
                    SVG ({{t 'export.settings.optimised'}} illustrator)
                </div>
            </div>
        </div>

    </div>
    
{{/if}}
</div>