  {{#x-tabs onActiveItemChange=(action 'onIntervalTypeTabChange')}}
    <ul class="tabs brewer-tabs">
      <li tab-id="self-domain-tab">
        {{#x-tooltip message=(t 'visualization.settings.ownScale.tooltip')}}
        <span class="tooltip-trigger">{{t 'visualization.settings.ownScale.title'}}</span>
        {{/x-tooltip}}
      </li>
      <li tab-id="shared-domain-tab">
        {{#x-tooltip message=(t 'visualization.settings.commonScale.tooltip')}}
        <span class="tooltip-trigger">{{t 'visualization.settings.commonScale.title'}}</span>
        {{/x-tooltip}}
      </li>
    </ul>
    <div class="panes">
      <div id="self-domain-tab" class="tab-pane {{unless mapping.sharedDomain 'active'}}"></div>
      <div id="shared-domain-tab" class="tab-pane {{if mapping.sharedDomain 'active'}}"></div>
    </div>
{{/x-tabs}}
<div class="horizontal middle flow">
  <label class="solid w5">
    <span class="tooltip-trigger">Position</span>
  </label>
  <div class="solid horizontal airy flow w7">
    <div class="proportional-sym-layout-icon proportional-type-sideclipped clickable {{if (x-eq mapping.renderMode 'sideclipped') 'active'}}"
      {{action 'bind' mapping 'renderMode' 'sideclipped'}}>
      <img src="{{r-url 'assets/images/settings-icons/val-prop-clip.svg'}}" width="41">
    </div>
    <div class="proportional-sym-layout-icon proportional-type-superposed clickable {{if (x-eq mapping.renderMode 'superposed') 'active'}}"
      {{action 'bind' mapping 'renderMode' 'superposed'}}>
      <img src="{{r-url 'assets/images/settings-icons/val-prop-over.svg'}}" width="41">
    </div>
    <div class="proportional-sym-layout-icon proportional-type-sidebyside clickable {{if (x-eq mapping.renderMode 'sidebyside') 'active'}}"
      {{action 'bind' mapping 'renderMode' 'sidebyside'}}>
      <img src="{{r-url 'assets/images/settings-icons/val-prop-sbs.svg'}}" width="41">
    </div>
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.shape.title')}}</label>
  <div class="horizontal half-airy solid flow w7 btn-switch-group">
    <div class="small button filled primary {{if (x-eq mapping.shape 'circle') 'selected'}}"
      {{action 'bind' mapping 'shape' 'circle'}}>
      {{x-capitalize (t 'visualization.settings.shape.circle')}}
    </div>
    <div class="small button filled primary {{if (x-eq mapping.shape 'rect') 'selected'}}"
      {{action 'bind' mapping 'shape' 'rect'}}>
      {{x-capitalize (t 'visualization.settings.shape.rect')}}
    </div>
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.size')}}</label>
  <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid offset-slider" band=1 value=mapping.maxSize min=mapping.visualization.absoluteMinSize
    max=mapping.visualization.absoluteMaxSize}} {{input-numeric/one-way numericValue=mapping.visualization.maxSize
    class="solid w3" min=mapping.visualization.absoluteMinSize update=(action (mut mapping.maxSize))}}
  </div>
</div>
<div class="horizontal middle flow">
  {{#x-tooltip message=(t 'visualization.settings.contrast.tooltip')}}
  <label class="solid w5">
    <span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.contrast.title')}}</span>
  </label>
  {{/x-tooltip}}
  <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid" band=1 value=mapping.contrast min=mapping.master.minContrastIndex max=mapping.master.maxContrastIndex}}
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.breakValue')}} ?</label>
  <div class="horizontal half-airy solid flow w7">
    {{#if mapping.sharedDomain}}
      {{input-numeric/one-way readonly=(x-true-or-undef mapping.shouldDiverge) numericValue=mapping.scale.valueBreak
        class="value-break-input solid w5 padding-fix" nullable=true min=mapping.extentMin max=mapping.extentMax
        update=(action 'updateValueBreak' mapping) placeholder=(t 'general.none')}}
    {{else}}
      {{input-numeric/one-way readonly=(x-true-or-undef mapping.master.shouldDiverge) numericValue=mapping.master.scale.valueBreak
        class="value-break-input solid w5 padding-fix" nullable=true min=mapping.master.extentMin max=mapping.master.extentMax
        update=(action 'updateValueBreak' mapping.master) placeholder=(t 'general.none')}}
      {{input-numeric/one-way readonly=(x-true-or-undef mapping.slave.shouldDiverge) numericValue=mapping.slave.scale.valueBreak
        class="value-break-input solid w5 padding-fix" nullable=true min=mapping.slave.extentMin max=mapping.slave.extentMax
        update=(action 'updateValueBreak' mapping.slave) placeholder=(t 'general.none')}}
    {{/if}}
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=2)}}</label>
  <div class="horizontal half-airy solid flow w7">
    {{#each mapping.mappings as |m|}}
      {{#if (x-some (x-every (x-not mapping.sharedDomain) m.scale.diverging) sharedDomainDiverging)}}
        {{#o-wrap/brewer obj=m classes=2 classesBeforeBreak=1 diverging=true withTransparent=true as |brewer|}}
          <div class="horizontal half-airy solid flow w5 layer-color-selector">
          {{#x-dropdown-plus as |facet|}}
            {{#facet.trigger class="filled solid flow"}}
              {{color-swatch class="layer-color-swatch"
                transparent=(x-eq m.visualization.colorSet 'transparent')
                colors=(get brewer.availableColorSetsMap m.visualization.colorSet)
              }}
              <i class="iconfont iconfont-angle-down"></i>
            {{/facet.trigger}}
            {{#facet.list}}
              {{#each brewer.availableColorSets as |colorSet|}}
                <li {{action 'bind' m.visualization 'colorSet' colorSet.key}}>
                  {{color-swatch
                    class="layer-color-swatch"
                    transparent=(x-eq colorSet.key 'transparent')
                    colors=colorSet.colors
                  }}
                </li>
              {{/each}}
            {{/facet.list}}
          {{/x-dropdown-plus}}
          </div>
        {{/o-wrap/brewer}}
      {{else}}
        <div class="solid w5">
          {{color-picker value=m.visualization.color}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.stroke')}}</label>
  <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid" band=0.5 value=mapping.master.visualization.stroke min=0 max=5}}
    {{x-slider class="fluid" band=0.5 value=mapping.slave.visualization.stroke min=0 max=5}}
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.opacity')}}</label>
  <div class="horizontal half-airy solid flow w7">
    {{x-slider class="fluid" band=0.05 value=mapping.opacity min=0 max=1}}
  </div>
</div>
{{#if (x-eq mapping.renderMode 'sidebyside')}}
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.alignment')}}</label>
  <div class="horizontal half-airy solid flow w7 btn-switch-group">
    <div class="small button filled primary {{if (x-eq mapping.sideBySideAlign 'bottom') 'selected'}}"
      {{action 'bind' mapping 'sideBySideAlign' 'bottom'}}>
      {{t 'visualization.settings.bottom'}}
    </div>
    <div class="small button filled primary {{if (x-eq mapping.sideBySideAlign 'middle') 'selected'}}"
      {{action 'bind' mapping 'sideBySideAlign' 'middle'}}>
      {{t 'visualization.settings.middle'}}
    </div>
    <div class="small button filled primary {{if (x-eq mapping.sideBySideAlign 'top') 'selected'}}"
      {{action 'bind' mapping 'sideBySideAlign' 'top'}}>
      {{t 'visualization.settings.top'}}
    </div>
  </div>
</div>
<div class="horizontal middle flow">
  <label class="solid w5">{{x-capitalize (t 'visualization.settings.spacing')}}</label>
  <div class="horizontal half-airy solid flow w7 btn-switch-group">
    <div class="small button filled primary {{if (x-eq mapping.sideBySideMargin 'low') 'selected'}}"
      {{action 'bind' mapping 'sideBySideMargin' 'low'}}>
      {{t 'visualization.settings.small'}}
    </div>
    <div class="small button filled primary {{if (x-eq mapping.sideBySideMargin 'middle') 'selected'}}"
      {{action 'bind' mapping 'sideBySideMargin' 'middle'}}>
      {{t 'visualization.settings.medium'}}
    </div>
    <div class="small button filled primary {{if (x-eq mapping.sideBySideMargin 'high') 'selected'}}"
      {{action 'bind' mapping 'sideBySideMargin' 'high'}}>
      {{t 'visualization.settings.high'}}
    </div>
  </div>
</div>
{{/if}}
