
      <div class="horizontal middle flow">
        <label class="solid w5">
          <span class="tooltip-trigger">Position</span>
        </label>
        <div class="solid w7">
          <div class="proportional-type-sideclipped" {{action 'bind' mapping 'renderMode' 'sideclipped'}}>1</div>
          <div class="proportional-type-superposed" {{action 'bind' mapping 'renderMode' 'superposed'}}>2</div>
          <div class="proportional-type-sidebyside" {{action 'bind' mapping 'renderMode' 'sidebyside'}}>3</div>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'visualization.settings.shape.title')}}</label>
        <div class="horizontal half-airy solid flow w7 btn-switch-group">
          <div class="small button filled primary {{if (x-eq mapping.shape 'circle') 'selected'}}" 
            {{action 'bind' mapping 'shape' 'circle'}}>
            {{x-capitalize (t 'visualization.settings.shape.circle')}}
          </div>
          <div class="small button filled primary {{if (x-eq mapping.shape 'rect') 'selected'}}" 
            {{action 'bind' mapping 'shape' 'rect'}}>
            {{x-capitalize (t 'visualization.settings.shape.rect')}}
          </div>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'visualization.settings.size')}}</label>
        <div class="horizontal half-airy solid flow w7">
          {{x-slider class="fluid offset-slider" band=1 value=mapping.maxSize min=mapping.visualization.absoluteMinSize
          max=mapping.visualization.absoluteMaxSize}} {{input-numeric/one-way numericValue=mapping.visualization.maxSize
          class="solid w3" min=mapping.visualization.absoluteMinSize update=(action (mut mapping.maxSize))}}
        </div>
      </div>
      <div class="horizontal middle flow">
        {{#x-tooltip message=(t 'visualization.settings.contrast.tooltip')}}
        <label class="solid w5">
          <span class="tooltip-trigger">{{x-capitalize (t 'visualization.settings.contrast.title')}}</span>
        </label>
        {{/x-tooltip}}
        <div class="horizontal half-airy solid flow w7">
          {{x-slider class="fluid" band=1 value=mapping.contrast min=mapping.master.minContrastIndex max=mapping.master.maxContrastIndex}}
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'visualization.settings.color' count=2)}}</label>
        <div class="horizontal half-airy solid flow w7">
          {{color-picker value=mapping.master.visualization.color}}
          {{color-picker value=mapping.slave.visualization.color}}
        </div>
      </div>
