<div class="modal-dialog modal--large">

    <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{x-capitalize (t 'reproj.title')}}</h3>
        </div>

        <div class="modal-body">
          {{#if isLoading}}
          <div class="loading-bar"></div>
          {{/if}}
          {{#if isLoaded}}
            <div class="vertical airy flow">
              <div>
                <div class="solid"><i>{{x-capitalize (t 'reproj.knowMore')}}, <a class="know-more" {{action 'openDocumentation'}}>{{t 'help.link'}}</a></i></div>
              </div>
              <div>
                <label>{{x-capitalize (t 'reproj.initalLabel')}}</label>
                <div class="initial-wkt-box">{{model.initialWkt}}</div>
              </div>
              <div>
                <label>{{x-capitalize (t 'reproj.modifyLabel')}}</label>
                {{#multi-value-input uniqueSelection=selectedEpsg selectionMaxLength=1 
                  suggestionProvider=epsgDictAsArray filterField=(x-array "name" "code")
                  select=(action 'selectEspg')
                  placeholder=(t 'reproj.selectInList')
                  queryMinLength=0 as |facet o this|}}
                    {{#if facet.isSuggestionRow}}
                      {{get o "name"}}
                    {{else if facet.isSelectedValue}}
                      {{get o "name"}}
                    {{/if}}
                {{/multi-value-input}}
              </div>
              <div>
                <label>{{t 'reproj.orWktProj4'}}</label>
                {{input value=wktText}}
                {{#if errorMessage}}
                  <span class="text-danger">{{x-capitalize (t 'reproj.errorWktInvalid')}}</span>
                {{/if}}
              </div>
            </div>
          {{/if}}
        </div>

        <div class="modal-footer">
          <div class="horizontal space-between flow">
            <div class="solid">
              <button type="button" class="button filled default" {{action 'reset'}}>{{x-capitalize (t 'general.reset')}}</button>
            </div>
            <div class="solid">
              <button type="button" class="button filled default" {{action 'reject'}}>{{x-capitalize (t 'general.cancel')}}</button>
              {{#if isCommitable}}
              <button type="button" class="button filled primary" {{action 'next'}}>
                {{x-capitalize (t 'general.validate')}}
              </button>
              {{/if}}
            </div>
          </div>
        </div>

    </div>

</div>