<div class="sidebar-scroll-wrapper">

    <div class="help">{{outlet 'help'}}</div>

    <div class="report vertical flow">

        <div class="report-message {{if hasErrors 'danger' 'success'}}">
            {{#unless hasErrors}}
                {{x-capitalize (t "project.step2.import.success")}}
            {{else}}
                {{x-capitalize (t "project.step2.import.fatal")}}
            {{/unless}}
        </div>

        <div class="padded-l">
            <b class="{{if hasErrors 'text-danger' 'text-success'}}">{{model.project.data.rows.length}}</b> {{t "project.step2.import.rowCount" count=model.project.data.rows.length}}
            {{t 'general.and'}}
            <b class="{{if hasErrors 'text-danger' 'text-success'}}">{{model.project.data.columns.length}}</b> {{t "project.step2.import.colCount" count=model.project.data.columns.length}}
        </div>

        <ul>
            {{#if (x-some hasWarnings hasErrors)}}

                {{#if hasWarnings}}

                    <li>
                        <div class="warning report-message">
                            <b class="text-warning">{{model.project.report.warnings.length}}</b>
                            {{x-capitalize (t "project.step2.import.warningsMessage" count=model.project.report.warnings.length)}}
                        </div>
                        <ul class="error-explenation">
                            {{#each model.project.report.warnings as |warning|}}
                                <li>{{t (concat 'project.step2.' warning)}}</li>
                            {{/each}}
                        </ul>
                    </li>

                {{/if}}

                {{#if hasErrors}}
                    <li>
                        <div class="danger report-message">
                            <b class="text-danger">{{model.project.report.errors.length}}</b>
                            {{x-capitalize (t "project.step2.import.errorsMessage" count=model.project.report.errors.length)}}
                        </div>
                        <ul class="error-explenation">
                            {{#each model.project.report.errors as |error|}}
                                <li>{{t (concat 'project.step2.' error)}}</li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
            {{/if}}
        </ul>
    </div>


    <div class="geo-ref-column">

                    
        <h3 class="title underlined">
          {{#x-tooltip position="right" message=(t 'project.step2.import.tooltip.geoRefColumn')}}
          <span class="tooltip-trigger">{{x-capitalize (t 'project.step2.import.geoRefColumn')}}</span>
          {{/x-tooltip}}
        </h3>

        <ul class="collection">

                <li>
                    {{#if model.project.data.availableGeoDefs.length}}
                        {{#x-dropdown-plus as |facet|}}
                            {{#facet.trigger}}
                                {{#if model.project.geoDef}}
                                    <span class="dropdown-icon">{{data-type-icon type=model.project.geoDef.type inconsistency=model.geoDef.inconsistency}}</span>
                                    <span class="dropdown-label">{{model.project.geoDef.label}}</span>
                                {{else}}
                                    Choisir
                                {{/if}}
                                <i class="iconfont iconfont-angle-down"></i>
                            {{/facet.trigger}}
                            {{#facet.list}}
                                {{#each model.project.data.availableGeoDefs as |def|}}
                                    <li {{action 'bind' model.project 'geoDef' def}}>
                                        <span>{{data-type-icon type=def.type inconsistency=def.inconsistency}}</span>
                                        <span>{{def.label}}</span>
                                    </li>
                                {{/each}}
                            {{/facet.list}}
                        {{/x-dropdown-plus}}
                    {{else}}
                        {{x-capitalize (t 'project.step2.import.geoRefColumnNotFound')}}
                    {{/if}}
                </li>

                {{#each model.project.data.columns as |col|}}

                    <li class="{{if (x-eq editedColumn col) 'selected'}} {{if col.incorrectCells.length 'clickable'}}" {{action 'editColumn' col}}>

                        {{#x-tooltip message=(if col.inconsistency (x-capitalize (t 'project.step2.import.correct')) (x-capitalize (t 'project.step2.import.noError'))) position="right"}}

                            <div class="horizontal space-between middle flow">

                                <div class="solid flow w2">
                                    {{#x-dropdown-plus as |facet|}}
                                        {{#facet.trigger}}
                                            <span>{{data-type-icon meta=col.meta inconsistency=col.inconsistency}}</span>
                                        {{/facet.trigger}}
                                        {{#facet.list}}
                                            <li {{action 'bindColumnType' col 'numeric'}}>
                                                <span class="dropdown-icon">{{data-type-icon type="numeric"}}</span>
                                                <span class="dropdown-label">{{t 'variable.meta.type.numeric'}}</span>
                                            </li>
                                            <li {{action 'bindColumnType' col 'text'}}>
                                                <span class="dropdown-icon">{{data-type-icon type="text"}}</span>
                                                <span class="dropdown-label">{{t 'variable.meta.type.text'}}</span>
                                            </li>
                                            <li {{action 'bindColumnType' col 'lat'}}><span class="dropdown-icon">{{data-type-icon type="lat"}}</span> {{t 'variable.meta.type.lat'}}</li>
                                            <li {{action 'bindColumnType' col 'lon'}}><span class="dropdown-icon">{{data-type-icon type="lon"}}</span> {{t 'variable.meta.type.lon'}}</li>
                                            <li {{action 'bindColumnType' col 'geo'}}><span class="dropdown-icon">{{data-type-icon type="geo"}}</span> {{t 'variable.meta.type.geo'}}</li>
                                            <li {{action 'bindColumnType' col null}}>{{t 'variable.meta.type.auto'}}</li>
                                        {{/facet.list}}
                                    {{/x-dropdown-plus}}
                                </div>

                                <div class="horizontal airy flow">
                                    <span>{{col.header.value}}</span>
                                </div>

                                <div class="fluid text-right">
                                    {{#if col.inconsistency}}
                                        <small class="text-danger">{{col.inconsistency}} {{t 'general.error' count=col.incorrectCells.length}} / {{col.body.length}}</small>
                                    {{/if}}
                                </div>
                            </div>
                        {{/x-tooltip}}
                    </li>
                {{/each}}
            </ul>

        </div>

</div><!-- End scrollbar-wrapper -->

{{#unless model.csv}}
<div class="arrows-navigation">
  {{#x-button class="solid import-new-data" action=(action 'back')}}
      {{x-capitalize (t "project.step2.back")}}
  {{/x-button}}
</div>
{{/unless}}