<div class="report vertical flow">

    <div class="report-message {{if hasErrors 'warning' 'success'}}">
        {{#unless hasErrors}}
            {{x-capitalize (t "project.step2.import.success")}}
        {{else}}
            {{x-capitalize (t "project.step2.import.fatal")}}
        {{/unless}}
    </div>

    <div class="padded-l">
        <b class="{{if hasErrors 'text-danger' 'text-success'}}">{{model.project.data.rows.length}}</b> {{t "project.step2.import.rowCount" count=model.project.data.rows.length}}
        {{t 'general.and'}}
        <b class="{{if hasErrors 'text-danger' 'text-success'}}">{{model.project.data.columns.length}}</b> {{t "project.step2.import.colCount" count=model.project.data.columns.length}}
    </div>

    <ul>
        {{#if (x-some hasWarnings hasErrors)}}

            {{#if hasWarnings}}

                <li>
                    <div class="warning report-message">
                        <b class="text-warning">{{model.project.report.warnings.length}}</b>
                        {{x-capitalize (t "project.step2.import.warningsMessage" count=model.project.report.warnings.length)}}
                    </div>
                    <ul class="error-explenation">
                        {{#each model.project.report.warnings as |warning|}}
                            <!--<li><i class="iconfont iconfont-warning text-warning"></i> {{!t warning}}</li>-->
                            <li>{{t warning}}</li>
                        {{/each}}
                    </ul>
                </li>

            {{/if}}

            {{#if hasErrors}}
                <li>
                    <div class="warning report-message">
                      <b class="text-warning">{{model.project.report.errors.length}}</b>
                      {{x-capitalize (t "project.step2.import.errorsMessage" count=model.project.report.errors.length)}}
                    </div>
                    <ul class="error-explenation">
                        {{#each model.project.report.errors as |error|}}
                            <li>{{t (concat 'project.step2.' error)}}</li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        {{/if}}
    </ul>

</div>


<div class="navheader">
    {{#x-button class="default btn-prev btn-arrow" invisible=(x-not model.csv) action=(action 'back')}}
        <i class="iconfont iconfont-angle-left"></i> {{!t "general.back"}}
    {{/x-button}}
    {{#x-button class="primary btn-next btn-arrow" invisible=hasErrors action=(action 'next')}}
        {{!t "navigation.openMap"}} <i class="iconfont iconfont-angle-right"></i>
    {{/x-button}}
</div>