<div class="vertical airy padded flow import-step1">
    <div class="padded">Rapport d'importation</div>
    <div class="vertical padded flow">
      <div>
        <div><b>Rapport d'importation :</b></div>
        <ul>
          <li>{{t "import.rowCount" count=model.project.data.rows.length}}</li>
          <li>{{t "import.colCount" count=model.project.data.columns.length}}</li>
        </ul>
      </div>
      {{#unless (x-some hasWarnings hasErrors)}}
        {{t "import.success"}}
      {{else}}
        {{#if hasWarnings}}
        <div>
          {{t "import.hasWarning"}} :
          <ul>
          {{#each model.project.report.warnings as |warning|}}
            <li>{{t warning}}</li>
          {{/each}}
          </ul>
          </div>
        {{/if}}
        {{#if hasErrors}}
        <div>
          {{t "import.hasError"}} :
          <ul>
          {{#each model.project.report.errors as |error|}}
             <li>{{t error}}</li>
          {{/each}}
          </ul>
        </div>
        {{/if}}
      {{/unless}}
    </div>
    <div class="horizontal padded space-between flow">
      {{x-button label=(t "general.Back") class="filled default" action=(action 'back')}}
      {{x-button label=(t "general.Import") class="filled primary" disabled=hasErrors action=(action 'finalize')}}
    </div>
</div>