<div class="importer">

    <h2 class="title title-select-map">
      <div class="horizontal space-between flow">
        <span class="{{unless (x-eq selectMapMethod 'select') 'clickable'}}" {{action 'switchSelectMapMethod' 'select'}}>
          {{x-capitalize (t 'project.step1.title.selectAMap')}}
        </span>
      </div>
    </h2>
    <div class="vertical airy flow select-a-map">
      <div class="solid">
        {{#x-button class="small solid filled primary" action=(action 'switchSelectMapMethod' 'import')}}
          <i class="iconfont iconfont-download"></i> {{t 'project.step1.title.orImportMap'}}
        {{/x-button}}
      </div>
      {{#if (x-eq selectMapMethod "select")}}
        {{map-selector maps=dictionary.data.maps selection=model.project.graphLayout.basemap onSelect=(action 'selectBasemap')}}
      {{else}}
        <div class="vertical flow import-a-basemap">
          {{localized-tpl tpl="help/{locale}/import-basemap"}}
          {{#file-loader accept="*.zip,*.shp,*.shx,*.dbf,*.prj,*.cpg,*.json,*.topojson,*.geojson" class="import-basemap-uploader" handler="uploader" label=""
            multiple="true"
            onFileSelected=(action 'importBasemap')}}
            <b style="text-decoration: underline">{{t 'importMap.importOrDrop'}}</b>
          {{/file-loader}}
        </div>
      {{/if}}
    </div>

  {{#if model.project.graphLayout.basemap}}
    <div class="vertical flow">
      <div class="horizontal airy flow">
        <div class="map-preview solid">
        {{#if model.project.graphLayout.projection}}
          {{map-editor
            graphLayout=model.project.graphLayout
            displayOffsets=false
            hasViewportFeature=false
            hasLegendFeature=false
            hasZoomFeature=false
            hasLabellingFeature=false
            hasCreditsFeature=false
            hasDocumentMaskFeature=false
          }}
        {{/if}}
        </div>
        <div class="map-dictionary-preview">
        {{#if model.project.graphLayout.basemap.dictionaryData}}
          <table>
            <thead>
              <tr>
                {{#each dictionaryDataHeaders as |header|}}
                    <th nowrap>{{header}}</th>
                {{/each}}
              </tr>
            </thead>
            <tbody>
              {{#each truncatedDictionaryData as |row|}}
                <tr>
                  {{#each dictionaryDataHeaders as |header|}}
                    <td nowrap>{{get row header}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        </div>
      </div>
      <div class="horizontal right flow">
        {{#unless model.project.graphLayout.basemap.isCustom}}
          {{#x-button class="solid filled primary" action=(action 'downloadTemplate')}}
            {{x-capitalize (t 'project.step1.downloadCsvModel')}}
            <i class="iconfont iconfont-download"></i>
          {{/x-button}}
        {{/unless}}
      </div>
    </div>

    <h2 class="title">
      {{x-capitalize (t 'project.step1.title.importData')}}
    </h2>

    <div class="vertical airy flow">

      {{#if (x-every model.project.graphLayout.basemap.isCustom model.project.graphLayout.basemap.dictionaryData)}}
      <div class="solid">
        {{#x-button class="horizontal center flow filled primary2" action=(action 'useImportedData')}}
          {{x-capitalize (t "project.step1.useImportedData")}}
        {{/x-button}}
      </div>
      {{/if}}

      <div class="subtitle">
        {{x-capitalize (t 'project.step1.importPasteCsv')}}
      </div>

      <div class="vertical airy flow">
        <div class="filled">

        {{ivy-codemirror
          value=model.csv
          valueUpdated=(action (mut model.csv))
          fileDrop=(action 'fileDroppedInEditor')
          options=(hash placeholder=(x-capitalize (t "project.step1.pasteCsv")) lineNumbers=true)
        }}
        </div>
      </div>


    </div>

    {{#if importReport.length}}
      <ul>
        {{#each importReport as |err|}}
            <li>{{err}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <div class="horizontal airy flow middle import-samples">

      {{#x-button class="solid filled primary2" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
        {{x-capitalize (t "general.next")}}
      {{/x-button}}

      {{#if examples.length}}
        
        <div class="horizontal center solid flow">{{t "general.or"}}</div>
        
        {{#x-dropdown-plus stretch=true as |dropdown|}}

          {{#dropdown.trigger dropdownPivot="bottom left" triggerPivot="top left"}}
            {{x-capitalize (t 'project.step1.title.testData')}}
            <i class="iconfont iconfont-angle-down"></i>
          {{/dropdown.trigger}}

          {{#dropdown.list}}
            {{#each examples as |set|}}
              <li class="text-center" {{action 'selectDataSet' set}}>{{x-capitalize (t (concat 'examples.' set.id))}}</li>
            {{/each}}
          {{/dropdown.list}}
        {{/x-dropdown-plus}}
      {{/if}}

    </div>

    {{/if}}

</div>


{{modal-mapshaper}}

