{{#file-drop class="sidebar-scroll-wrapper" onContentLoaded=(action send "loadExternalProject")}}
  <div class="help">
    {{outlet 'help'}}
    <i class="iconfont iconfont-info-circle"></i>
  </div>
  <div class="vertical airy flow project-drop fluid stretched">

    {{#x-tooltip message=(t 'project.step1.tooltip.importProject') position="right"}}
      {{#file-loader label="" class="button import-btn" onContentLoaded=(action send "loadExternalProject") tagName="div"}}
        <i class="iconfont iconfont-upload"></i>
        <span class="tooltip-trigger">{{x-capitalize (t "project.step1.importPoject.title")}}</span>
      {{/file-loader}}
    {{/x-tooltip}}

    {{#if canResumeProject}}
    <div class="project-thumbnail-container">

      <h3>{{x-capitalize (t "project.resume")}}</h3>

      {{#each projects as |p|}}
        <div class="project-thumbnail" {{action 'resumeProject' p}}>
          <img src="{{p.thumbnail}}"/>
          <span class="project-date">{{format-date p.date "DD/MM/YYYY hh:mm"}}</span>
        </div>
      {{/each}}

    </div>
    {{/if}}

  </div>
{{/file-drop}}

