<div class="importer">

    <h2 class="title">
      {{x-capitalize (t 'project.step1.title.selectAMap')}}
    </h2>

    <div class="vertical airy flow select-a-map">

      {{map-selector maps=dictionary.data.maps selection=model.project.graphLayout.basemap onSelect=(action 'selectBasemap')}}
      {{!#file-loader accept="application/zip" class="button filled primary" handler="uploader" label="" onFileSelected=(action 'importBasemap')}}
        <!--Charger un fond de carte-->
      {{!/file-loader}}

    </div>

  {{#if model.project.graphLayout.basemap}}
    <div class="vertical flow">
      <div class="horizontal airy flow">
        <div class="map-preview solid">
        {{#if model.project.graphLayout.projection}}
          {{map-editor
            graphLayout=model.project.graphLayout
            displayOffsets=false
            hasViewportFeature=false
            hasLegendFeature=false
            hasZoomFeature=false
            hasLabellingFeature=false
            hasCreditsFeature=false
            hasDocumentMaskFeature=false
          }}
        {{/if}}
        </div>
        <div class="map-dictionary-preview">
        {{#if model.project.graphLayout.basemap.dictionaryData}}
          <table>
            <thead>
              <tr>
                {{#each dictionaryDataHeaders as |header|}}
                    <th nowrap>{{header}}</th>
                {{/each}}
              </tr>
            </thead>
            <tbody>
              {{#each truncatedDictionaryData as |row|}}
                <tr>
                  {{#each dictionaryDataHeaders as |header|}}
                    <td nowrap>{{get row header}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        </div>
      </div>
      <div class="horizontal right flow">
        {{#x-button class="solid filled primary" action=(action 'downloadTemplate')}}
          {{x-capitalize (t 'project.step1.downloadCsvModel')}}
          <i class="iconfont iconfont-download"></i>
        {{/x-button}}
      </div>
    </div>

    <h2 class="title">
      {{#file-loader label="" class="import-link" onContentLoaded="loadCsv" tagName="a"}}
      {{x-capitalize (t 'project.step1.title.import')}}
      {{/file-loader}}&nbsp;
      {{#x-tooltip message=(t 'project.step1.tooltip.csv')}}
      <span class="tooltip-trigger">
      {{t 'project.step1.title.fileCsv'}}
      </span>
      {{/x-tooltip}}
    </h2>

    <div class="vertical airy flow">


      <div class="vertical airy flow">
        <div class="filled">

        {{ivy-codemirror
          value=model.csv
          valueUpdated=(action (mut model.csv))
          fileDrop=(action 'fileDroppedInEditor')
          options=(hash placeholder=(x-capitalize (t "project.step1.pasteCsv")) lineNumbers=true)
        }}
        </div>
      </div>


    </div>

    {{#if importReport.length}}
      <ul>
        {{#each importReport as |err|}}
            <li>{{err}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <div class="horizontal flow middle import-samples">

      {{#x-dropdown-plus stretch=true as |dropdown|}}

        {{#dropdown.trigger dropdownPivot="bottom left" triggerPivot="top left"}}
          {{x-capitalize (t 'project.step1.title.testData')}}
          <i class="iconfont iconfont-angle-down"></i>
        {{/dropdown.trigger}}

        {{#dropdown.list}}
           {{#each examples as |set|}}
                <li class="text-center" {{action 'selectDataSet' set}}>{{x-capitalize (t (concat 'examples.' set.id))}}</li>
            {{/each}}
        {{/dropdown.list}}
      {{/x-dropdown-plus}}

      {{#x-button class="solid filled primary2" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
        {{x-capitalize (t "general.next")}}
      {{/x-button}}

    </div>

    {{/if}}

</div>


{{modal-mapshaper}}

