<div class="importer">

    <h2 class="title">
      {{x-capitalize (t 'project.step1.title.selectAMap')}}
    </h2>

    <div class="vertical airy flow select-a-map">
      {{#x-dropdown-plus stretch=true as |dropdown|}}
        {{#dropdown.trigger}}
          {{#if model.project.graphLayout.basemap}}
          {{x-capitalize (t (concat 'basemap.' model.project.graphLayout.basemap.mapConfig.id))}}
          {{else}}
          {{x-capitalize (t 'general.search')}}
          {{/if}}
          <i class="iconfont iconfont-angle-down"></i>
        {{/dropdown.trigger}}
        {{#dropdown.list}}
          {{#each dictionary.data.maps as |map|}}
            <li {{action 'selectBasemap' map.id}}>
              {{x-capitalize (t (concat 'basemap.' map.id))}}
            </li>
          {{/each}}
        {{/dropdown.list}}
      {{/x-dropdown-plus}}
    </div>

  {{#if model.project.graphLayout.basemap}}
    <div class="vertical flow">
      <div class="horizontal airy flow">
        <div class="map-preview solid">
        {{#if model.project.graphLayout.projection}}
          {{map-editor
            graphLayout=model.project.graphLayout
            displayOffsets=false
            hasViewportFeature=false
            hasLegendFeature=false
            hasZoomFeature=false
            hasLabellingFeature=false
            hasCreditsFeature=false
            hasDocumentMaskFeature=false
          }}
        {{/if}}
        </div>
        <div class="map-dictionary-preview">
        {{#if model.project.graphLayout.basemap.dictionaryData}}
          <table>
            <thead>
              <tr>
                {{#each dictionaryDataHeaders as |header|}}
                    <th nowrap>{{header}}</th>
                {{/each}}
              </tr>
            </thead>
            <tbody>
              {{#each truncatedDictionaryData as |row|}}
                <tr>
                  {{#each dictionaryDataHeaders as |header|}}
                    <td nowrap>{{get row header}}</td>
                  {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        </div>
      </div>
      <div class="horizontal right flow">
        {{#x-button class="solid filled primary" action=(action 'downloadTemplate')}}
          {{x-capitalize (t 'project.step1.downloadCsvModel')}}
          <i class="iconfont iconfont-download"></i>
        {{/x-button}}
      </div>
    </div>
    
    <h2 class="title">
      {{#file-loader label="" class="import-link" onContentLoaded="loadCsv" tagName="a"}}
      {{x-capitalize (t 'project.step1.title.import')}}
      {{/file-loader}}&nbsp;
      {{#x-tooltip message=(t 'project.step1.tooltip.csv')}}
      <span class="tooltip-trigger">
      {{t 'project.step1.title.fileCsv'}}
      </span>
      {{/x-tooltip}}
    </h2>

    <div class="vertical airy flow">


      <div class="vertical airy flow">
        <div class="filled">
        
        {{ivy-codemirror
          value=model.csv
          valueUpdated=(action (mut model.csv))
          fileDrop=(action 'fileDroppedInEditor')
          options=(hash placeholder=(x-capitalize (t "project.step1.pasteCsv")) lineNumbers=true)
        }}
        </div>
      </div>
      
      <div class="horizontal airy flow">
        {{#x-button class="solid filled primary" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
            {{x-capitalize (t "general.next")}}
        {{/x-button}}
      </div>

    
    </div>

    {{#if importReport.length}}
      <ul>
        {{#each importReport as |err|}}
            <li>{{err}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <div class="import-samples">
        <h2 class="title">{{x-capitalize (t 'project.step1.title.testData')}}</h2>
        <ul>
            {{#each examples as |set|}}
                <li class="text-center" {{action 'selectDataSet' set}}>{{x-capitalize (t (concat 'examples.' set.id))}}</li>
            {{/each}}
        </ul>
    </div>

    {{/if}}
    
</div>


