<div class="importer">

    <h1 class="title">
      {{#file-loader label="" class="import-link" onContentLoaded="loadCsv" tagName="a"}}
      {{x-capitalize (t 'project.step1.title.import')}}
      {{/file-loader}}&nbsp;{{t 'project.step1.title.fileCsv'}}
      </h1>

    <div class="vertical airy flow">
      
      <div class="vertical airy flow">
        <div class="filled">
        
        {{ivy-codemirror
          value=model.csv
          valueUpdated=(action (mut model.csv))
          options=(hash placeholder=(x-capitalize (t "project.step1.pasteCsv")) lineNumbers=true)
        }}
        </div>
      </div>
      
      <div class="horizontal airy flow">
        {{#x-button class="solid filled primary" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
            {{x-capitalize (t "general.next")}}
        {{/x-button}}
        {{#if canResumeProject}}
        {{#x-button class="solid filled default" action=(action 'resumeProject')}}
            {{x-capitalize (t "project.resume")}}
        {{/x-button}}
        {{/if}}
      </div>
    
    </div>

    {{#if importReport.length}}
      <ul>
        {{#each importReport as |err|}}
            <li>{{err}}</li>
        {{/each}}
      </ul>
    {{/if}}

    <div class="import-samples">
        <h2 class="title">{{x-capitalize (t 'project.step1.title.testData')}}</h2>
        <ul>
            {{#each testDataSets as |set|}}
                <li class="text-center" {{action 'selectDataSet' set}}>{{set.name}}</li>
            {{/each}}
        </ul>
    </div>

</div>


