<div class="configuration-panel filled padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.projection'}}{{t "navigation.chooseProjection"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i> {{t (concat "projection." model.graphLayout.projection.id ".name")}}</div>
    <div class="actions">
      {{#link-to 'graph'}}<i class="iconfont iconfont-times-circle"></i>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="settings horizontal center flow">
      <div class="solid vertical flow w6">
        <div class="fluid text-center">
          <h3>Paramètres de la projection</h3>
        </div>
        <div>
          <label>Zoom</label>
          {{x-slider class="fluid" value=model.graphLayout.zoom min=1 max=10}}
        </div>
        <div>
          <label>Rotation</label>
          <div class="horizontal middle flow">
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">X</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateX min=-180 max=180}}</div>
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">Y</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateY min=-180 max=180}}</div>
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">Z</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateZ min=-180 max=180}}</div>
          </div>
        </div>
        <div>
          <label>Clip angle</label>
          {{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateZ min=-180 max=180}}
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="button filled primary" {{action 'navigateTo' 'graph'}}>Fermer</div>
  </div>
</div>