<div class="configuration-panel projection padded with-relief topbar split-view">
  <div class="titlebar">
    <div class="title">{{#link-to 'graph.projection'}}{{t "navigation.chooseProjection"}}{{/link-to}} <i class="iconfont iconfont-angle-right separator"></i> {{t (concat "projection." model.graphLayout.projection.id ".name")}}</div>
    <div class="actions">
      {{#link-to 'graph'}}<div class="small button filled default" {{action 'navigateTo' 'graph'}}>Fermer</div>{{/link-to}}
    </div>
  </div>
  <div class="body">
    <div class="settings horizontal center airy flow">
      <div class="solid vertical flow w6">
        <div class="fluid text-center">
          <h3>Information sur la projection</h3>
        </div>
        <div class="vertical padded flow infos">
          <div>
            <label>Nom :</label>
            {{t (concat "projection." model.graphLayout.projection.id ".name")}}
          </div>
          <div>
            <label>Description :</label>
            {{t (concat "projection." model.graphLayout.projection.id ".description")}}
          </div>
          <div>
            <label>Auteur :</label>
            {{model.graphLayout.projection.author}} ({{model.graphLayout.projection.year}})
          </div>
          <div>
            <label>Préservation d'angle :</label>
            {{x-stars value=model.graphLayout.projection.score_angle class="stars"}}
          </div>
          <div>
            <label>Préservation de surface :</label>
            {{x-stars value=model.graphLayout.projection.score_area class="stars"}}
          </div>
          <div>
            <label>Préservation de distance :</label>
            {{x-stars value=model.graphLayout.projection.score_distance class="stars"}}
          </div>
        </div>
      </div>
      <div class="solid vertical flow w6">
        <div class="fluid text-center">
          <h3>Paramètres de la projection</h3>
        </div>
        <div>
          <label>Zoom</label>
          {{x-slider class="fluid" value=model.graphLayout.zoom min=1 max=10}}
        </div>
        <div>
          <label>Rotation</label>
          <div class="horizontal middle flow">
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">X</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateX min=-180 max=180}}</div>
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">Y</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateY min=-180 max=180}}</div>
            <div class="horizontal middle solid flow w4"><span class="solid padded-r">Z</span>{{x-slider class="fluid" tickAppend="°" tickFormat=",.1f" value=model.graphLayout.projection.rotateZ min=-180 max=180}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>