<div class="projection-panel filled with-relief topbar">
  <div class="body fluid">
    <ul class="collection">
      {{#each availableProjections as |proj|}}
        <li class="clickable" {{action 'selectProjection' proj}}>
          <div class="horizontal airy flow overflows">
            <div class="vertical middle solid flow padded-h projection-name">
              <b>{{t (concat "projection." proj.id ".name")}}</b>
            </div>
            <div class="horizontal middle right solid flow projection-stars">
              <div class="vertical solid flow w4">
                {{x-stars value=proj.score_area iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
              </div>
              <div class="vertical solid flow w4">
                {{x-stars value=proj.score_distance iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
              </div>
              <div class="vertical solid flow w4">
                {{x-stars value=proj.score_angle iconTrue="iconfont-circle" iconFalse="iconfont-circle-o" max=3 clampLeft=1 class="stars"}}
              </div>
            </div>
            <div class="caption">
              <img src="assets/images/projection/{{proj.id}}.png" alt="" class="solid" height="60">
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>