<div class="configuration-panel filled padded with-relief topbar">
  <div class="titlebar">
    <div class="title">{{t "navigation.chooseProjection"}}</div>
    <div class="actions">
      {{#if model.graphLayout.projection}}
        {{#link-to 'graph'}}<div class="small button filled default" {{action 'navigateTo' 'graph'}}>Fermer</div>{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="body">
    <ul class="collection">
      {{#each availableProjections as |proj|}}
        <li class="clickable" {{action 'selectProjection' proj}}>
          <div class="horizontal airy flow">
            <div class="caption">
              <img src="assets/images/projection/{{proj.id}}.png" alt="" class="solid" height="100">
            </div>
            <div class="vertical flow">
              <span class="title">{{t (concat "projection." proj.id ".name")}}</span>
              <p class="description">{{t (concat "projection." proj.id ".description")}}</p>
            </div>
            <div class="vertical solid flow w3">
              <div>
              <label>Préservation d'angle :</label>
              {{x-stars value=proj.score_angle class="stars"}}
              </div>
              <div>
              <label>Préservation de surface :</label>
              {{x-stars value=proj.score_area class="stars"}}
              </div>
              <div>
              <label>Préservation de distance :</label>
              {{x-stars value=proj.score_distance class="stars"}}
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>