{{#if (x-eq meta.type 'text')}}
<div class="icon-type filled success">T</div>
{{else if (x-eq meta.type 'numeric')}}
<div class="icon-type filled {{if isValid 'success' 'danger'}}">N</div>
{{else if (x-eq meta.type 'geo')}}
<div class="icon-type geo {{if isValid 'text-success' 'text-danger'}}"><i class="iconfont iconfont-globe"></i></div>
{{else if (x-some (x-eq meta.type 'lat') (x-eq meta.type 'lat_dms'))}}
<div class="icon-type coord {{if isValid 'text-success' 'text-danger'}}"><i class="iconfont iconfont-map-marker"></i></div>
{{else if (x-some (x-eq meta.type 'lon') (x-eq meta.type 'lon_dms'))}}
<div class="icon-type coord {{if isValid 'text-success' 'text-danger'}}"><i class="iconfont iconfont-map-marker"></i></div>
{{/if}}
