<div class="vertical airy padded flow import-step1">
    <div class="padded">Ici un paragraphe sur le formattage des fichiers csv</div>
    <div class="vertical padded flow">
        <div class="label">
          {{t "import.editor.paste.csv"}} {{t "general.or"}}
          {{file-loader label=(t "import.editor.upload.file") class="button text-primary import-button" onContentLoaded="loadCsv"}}
        </div>
        {{ivy-codemirror value=model.csv lineNumbers=true}}
    </div>
    {{#if importReport.length}}
    <ul>
      {{#each importReport as |err|}}
      <li>{{err}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <div class="horizontal padded right flow">
      {{x-button label=(t "general.Next") class="filled primary" disabled=(x-not parsable) action=(action 'parseCsvContent')}}
    </div>
</div>