<div class="sidebar-scroll-wrapper">


<div class="layers">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_symboles'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUANTI-val_symboles.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.description"}}</p>
          </div>
        </div>
      </li>
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUANTI-val_surfaces.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_surfaces.description"}}</p>
          </div>
        </div>
      </li>
      <li class="clickable layer" {{action 'selectMapping' 'quali.cat_symboles'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUALI-cat_symboles.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.cat_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quali.cat_symboles.description"}}</p>
          </div>
        </div>
      </li>
      <li class="clickable layer" {{action 'selectMapping' 'quali.cat_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUALI-cat_surfaces.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.cat_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quali.cat_surfaces.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="layers">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_symboles.combined.quanti.val_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUALI-cat_surfaces.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.combined.quanti.val_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.combined.quanti.val_surfaces.description"}}</p>
          </div>
        </div>
      </li>
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_symboles.combined.quali.cat_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="{{r-url 'assets/images/viz/QUALI-cat_surfaces.svg'}}">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.combined.quali.cat_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.combined.quali.cat_surfaces.description"}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>