<div class="layers padded">
  <div class="title">{{x-capitalize (t 'visualization.title.choose')}}</div>
  <div class="body">
    <ul class="collection">
      {{#if editedLayer.mapping.canBeMappedAsValue}}
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_symboles'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUANTI-val_symboles.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_symboles.description"}}</p>
          </div>
        </div>
      </li>
      {{#if editedLayer.mapping.canBeSurface}}
      <li class="clickable layer" {{action 'selectMapping' 'quanti.val_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUANTI-val_surfaces.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quanti.val_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quanti.val_surfaces.description"}}</p>
          </div>
        </div>
      </li>
      {{/if}}
      {{/if}}
      <li class="clickable layer" {{action 'selectMapping' 'quali.cat_symboles'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUALI-cat_symboles.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.cat_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quali.cat_symboles.description"}}</p>
          </div>
        </div>
      </li>
      {{#if editedLayer.mapping.canBeSurface}}
      <li class="clickable layer" {{action 'selectMapping' 'quali.cat_surfaces'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUALI-cat_surfaces.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.cat_surfaces.name"}}</span>
              <p class="description">{{t "visualization.type.quali.cat_surfaces.description"}}</p>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if false}}
      <li class="clickable layer" {{action 'selectMapping' 'quali.ordre_symboles'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUALI-ordre_symboles.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.ordre_symboles.name"}}</span>
              <p class="description">{{t "visualization.type.quali.ordre_symboles.description"}}</p>
          </div>
        </div>
      </li>  
      <li class="clickable layer" {{action 'selectMapping' 'quali.taille_valeur'}}>
        <div class="horizontal flow">
          <div class="caption">
            <img src="assets/images/viz/100x100px-QUALI-Taille_Valeur.jpg">
          </div>
          <div class="vertical stretched middle flow padded-h content">
              <span class="title">{{t "visualization.type.quali.taille_valeur.name"}}</span>
              <p class="description">{{t "visualization.type.quali.taille_valeur.description"}}</p>
          </div>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
</div>