<div class="sidebar-scroll-wrapper column-editor padded">

    <div class="title underlined">{{t "navigation.editColumn"}} <span class="separator">|</span> {{editedColumn.header.value}}</div>

      <div class="body vertical airy flow">

          <div>{{x-capitalize (t 'project.step2.editColumn.unrecognizedColumns')}}</div>

          <div class="settings horizontal center flow">

            <div class="solid vertical airy flow w12">
                {{#o-wrap.group-cells obj=editedColumn as |oCol|}}

                    {{#each oCol.groupedIncorrectCells as |group|}}
                        {{#o-wrap.cell-correction obj=group.cell basemap=model.project.graphLayout.basemap siblings=group.siblings as |oCell|}}

                            <div class="horizontal airy solid flow column-editor-row">

                                <div class="solid w5 cell-value"> {{oCell.obj.value}} </div>

                                <div class="solid w1 bind-value-arrow text-center">
                                    <i class="iconfont iconfont-long-arrow-right"></i>
                                </div>

                                <div class="solid w5 cell-new-value">
                                    {{#if (x-eq editedColumn.meta.type 'geo')}}
                                      {{#multi-value-input uniqueSelection=oCell.dictionaryValue selectionMaxLength=1 
                                        suggestionProvider=oCell.dictionary filterField=oCell.nameKey
                                        queryMinLength=0 as |facet o this|}}
                                          {{#if facet.isSuggestionRow}}
                                            {{get o oCell.nameKey}}
                                          {{else if facet.isSelectedValue}}
                                            {{get o oCell.nameKey}}
                                          {{/if}}
                                      {{/multi-value-input}}

                                    {{else}}
                                        {{input value=oCell.obj.correctedValue}}
                                    {{/if}}
                                </div>

                            </div>

                        {{/o-wrap.cell-correction}}
                    {{/each}}

                {{/o-wrap.group-cells}}
            </div>
          </div>

        </div>
</div>