<div class="content">
  <div class="help jumbotron markdown">
    {{localized-tpl tpl="help/{locale}/graph/legend"}}
  </div>
  <div>
    <div class="vertical flow">
        {{#if model.graphLayers.length}}
        <div class="horizontal middle flow">
          <label class="horizontal solid flow padded-r">Afficher la légende</label>
          <div class="fluid">
            {{input type="checkbox" checked=model.graphLayout.showLegend}}<div class="-h"></div>
          </div>
        </div>
        {{/if}}
        {{#if model.graphLayout.showLegend}}
        <div class="horizontal middle flow">
          <label class="horizontal right solid flow w3 padded-r text-right">Opacité</label>
          {{x-slider class="fluid" band=0.1 value=model.graphLayout.legendOpacity min=0 max=1}}
        </div>
        {{/if}}
    </div>
  </div>
</div>

<div class="bottom-navbar">
  <div class="fluid">
    {{#x-button class="default btn-prev" action=(action 'back')}}
        <i class="iconfont iconfont-long-arrow-left"></i> {{x-capitalize (t "navigation.sidebar.layers")}}
    {{/x-button}}
  </div>
  <div class="fuild">
    {{#x-button class="default btn-prev" action=(action 'next')}}
        {{x-capitalize (t "navigation.sidebar.export")}} <i class="iconfont iconfont-long-arrow-right"></i>
    {{/x-button}}
  </div>
</div>
