<div class="content export-column">
  <div class="vertical airy flow">

    <div class="half-airy vertical flow">
      {{input value=model.title placeholder=(t 'export.placeholder.mapTitle')}}
      {{input value=model.dataSource placeholder=(t 'export.placeholder.dataSource')}}
      {{input value=model.author placeholder=(t 'export.placeholder.author')}}
      {{#if false}} {{! caché pour l'instant'}}
      {{textarea class="auto-expand" value=model.comment placeholder=(t 'export.placeholder.comment')}}
      {{/if}}
    </div>

    <div class="title underlined">{{x-capitalize (t 'export.title.legend')}}</div>
    <div class="settings vertical flow">
      {{#if model.graphLayers.length}}
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.showLegend')}} ?</label>
        <div class="horizontal solid half-airy flow w7">
          <a {{action 'toggleLegendVisibility'}}><i class="iconfont {{if model.graphLayout.showLegend 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
        </div>
      </div>
      {{/if}}
    </div>
    
    <div class="title underlined">{{x-capitalize (t 'export.title.labels')}}</div>
    <div class="settings vertical flow">
      {{#each model.labellingLayers as |layer|}}
      <div class="horizontal space-between flow layer-header">
        <div class="horizontal airy baseline flow">
          {{data-type-icon meta=layer.mapping.varCol.meta inconsistency=layer.mapping.varCol.inconsistency}}
          <span class="layer-name">{{layer.mapping.varCol.header.value}}</span>
        </div>
        <div class="solid horizontal baseline half-airy right flow w4">
          <span class="no-drag no-drag-click">
            {{#x-button tagName="a" action=(action 'removeLabellingLayer' layer) disabled=(x-eq layer editedLayer)}}
              <i class="iconfont iconfont-trash"></i>
            {{/x-button}}
          </span>
        </div>
      </div>
      {{/each}}
      {{#unless model.labellingLayers.length}}
      {{#x-dropdown-plus as |facet|}}
        {{#facet.trigger}}
            <div class="button"><i class="iconfont iconfont-plus-thin"></i></div>
        {{/facet.trigger}}
        {{#facet.list}}
          {{#each model.data.columns as |col|}}
          <li {{action 'addLabellingLayer' col}} class="horizontal middle airy flow">
            <div class="solid">{{data-type-icon meta=col.meta inconsistency=col.inconsistency}}</div>
            <div classs="fluid padded-h">{{col.header.value}}</div>
          </li>
          {{/each}}
        {{/facet.list}}
      {{/x-dropdown-plus}}
      {{/unless}}
    </div>
    
    <div class="title underlined">{{x-capitalize (t 'export.title.styles')}}</div>
    <div class="settings vertical flow">
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.borders')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{color-picker value=model.graphLayout.stroke}}
          <a {{action 'toggleBordersVisibility'}}><i class="iconfont {{if model.graphLayout.showBorders 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.grid')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{color-picker value=model.graphLayout.gridColor}}
          <a {{action 'toggleGridVisibility' layer}}><i class="iconfont {{if model.graphLayout.showGrid 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.background')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{color-picker value=model.graphLayout.backMapColor}}
        </div>
      </div>
    </div>
    
    <div class="title underlined">{{x-capitalize (t 'export.title.sizes')}} {{t 'general.and'}} {{t 'export.title.export'}}</div>
    <div class="settings vertical flow">
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.width')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{input-numeric.one-way numericValue=model.graphLayout.width class="solid w4" min=640 update=(action (mut model.graphLayout.width))}}<small>px</small>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'export.settings.height')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{input-numeric.one-way numericValue=model.graphLayout.height class="solid w4" min=480 update=(action (mut model.graphLayout.height))}}<small>px</small>
        </div>
      </div>
      <div class="horizontal middle flow">
        <label class="solid w5">{{x-capitalize (t 'general.download')}}</label>
        <div class="horizontal solid half-airy flow w7">
          {{x-button class="small filled primary" action=(action 'export' 'svg') label="SVG"}}
          {{x-button class="small filled primary" action=(action 'export' 'png') label="PNG"}}
        </div>
      </div>
    </div>
  </div>
</div>
