<div class="content layers-column">
  <div class="vertical airy flow layers">
    <div class="solid center text-center">
      {{#if model.geoDef}}
      <div class="horizontal middle flow airy add-visualization-button-wrapper" {{action "addLayer"}}>
        <div class="button add-visualization-button">
          <i class="iconfont iconfont-plus-thin"></i>
        </div>
        <div>
          {{x-capitalize (t 'visualization.new')}}
        </div>
      </div>
      {{else}}
      <div class="filled warning padded">
        Il est nécessaire de sélectionner une colonne de référence géographique pour ajouter de nouveaux calques
      </div>
      {{/if}}
    </div>

    {{#if model.graphLayers.length}}
      {{#drag-sort-collection provider=model.graphLayers onClick=(action 'editLayer') as |layer self|}}

          <li class="clickable {{if (x-eq layer editedLayer) 'selected'}}">
            <div class="horizontal space-between flow">
              <div class="horizontal airy middle flow">
                {{#if layer.mapping.isBoundToVar}}
                <span class="layer-name">{{x-ellipsis layer.mapping.titleComputed 22}}</span>
                {{else}}
                <span class="layer-name">[ variable ]</span>
                {{/if}}
              </div>
              <div class="solid horizontal baseline half-airy right flow w4">
                <span class="layer-visualization-icon">
                {{#if layer.mapping.type}}
                  {{visualization-icon mapping=layer.mapping small=true}}
                {{/if}}
                </span>
                <span class="no-drag no-drag-click">
                  <a {{action 'toggleLayerVisibility' layer}}><i class="iconfont {{if layer.visible 'iconfont-eye' 'iconfont-eye-slash'}}"></i></a>
                </span>
                <span class="no-drag no-drag-click">
                  {{#x-button tagName="a" action=(action 'removeLayer' layer) disabled=(x-eq layer editedLayer)}}
                    <i class="iconfont iconfont-trash"></i>
                  {{/x-button}}
                </span>
              </div>
            </div>
          </li>

      {{/drag-sort-collection}}
    {{/if}}

  </div>
</div>
