<main class="application-workspace horizontal flow">
   {{outlet "main"}}
   {{#map-editor.text-editor uid="legend-title-editor"}}
    <div><small><b>{{x-capitalize (t 'legend.editTitleHere')}}</b></small></div>
   {{/map-editor.text-editor}}
</main>

<!--<footer class="text-center filled warning with-relief bottombar">
    <small>Ici le footer</small>
</footer>-->

{{! outlet "footer"}}

{{x-growl}}
{{confirm-dialog name="confirm"}}
{{error-dialog name="error"}}