<header class="filled primary with-relief topbar">
    <span class="brand"><span>MAPP</span></span>
    <span class="iconfont iconfont-ember"></span>
    <div>Ici un menu</div>
</header>

<section class="main horizontal flow">

    <nav class="menu-left solid airy vertical middle flow filled contrast">
        <div class="tool tooltip right"  {{action 'navigateTo' 'spreadsheet'}} data-tooltip="Tableur">
            <i class="iconfont iconfont-table"></i>
        </div>
        <div class="tool tooltip right" {{action 'navigateTo' 'graph'}} data-tooltip="Carte">
            <i class="iconfont iconfont-map"></i>
        </div>
    </nav>

    {{outlet "sidebar"}}
    {{outlet "main"}}

    <div class="outer horizontal center flow w12 hidden">
        <div class="horizontal solid flow w4 filled default with-relief topbar">
            <input placeholder="boite de recherche flotante"/>
        </div>
    </div>

</section>

<footer class="text-center filled warning with-relief bottombar"><small>Apyx copyright blabla</small></footer>

{{outlet "footer"}}
