<header class="filled primary with-relief topbar">
    <span class="brand">MAPP</span>
    <div>Ici un menu</div>
</header>

<section class="main horizontal flow">
    
    <nav class="solid airy vertical middle flow padded filled contrast">
        <div class="filled" style="height: 36px; border-radius: 20px;" {{action 'navigateTo' 'spreadsheet'}}></div> <!-- ici un icon -->
        <div class="filled" style="height: 36px;" {{action 'navigateTo' 'graph'}}></div> <!-- ici un icon -->
    </nav>
    
    {{outlet "sidebar"}}
    {{outlet "main"}}
    {{outlet "help"}}
    
    <div class="outer horizontal center flow w12 hidden">
        <div class="horizontal solid flow w4 filled default with-relief topbar">
            <input placeholder="boite de recherche flotante"/>
        </div>
    </div>
    
</section>

<footer class="text-center filled warning with-relief bottombar"><small>Apyx copyright blabla</small></footer>

{{outlet "footer"}}
