{{outlet 'header'}}
<main class="application-workspace horizontal flow">
   {{outlet "main"}}
</main>

<footer class="text-center filled warning with-relief bottombar">
    <small>Ici le footer</small>
</footer>

{{! outlet "footer"}}

{{x-growl}}
{{confirm-dialog name="confirm"}}
{{error-dialog name="error"}}