<header class="application-header filled primary">

    <span class="brand" >{{#link-to 'index'}}<img src="{{r-url 'assets/images/khartis-logo.svg'}}"/>{{/link-to}}</span>

    <div class="header-icons">
      <div class="lang-switcher">

        {{#x-dropdown-plus dropdownPivot='top right' triggerPivot='bottom right' as |facet|}}
          {{#facet.trigger}}
          <span class="lang-switcher-item">{{i18n.locale}}</span>
          {{/facet.trigger}}
          {{#facet.list}}
            <li {{action 'setLocale' 'fr'}}>fr</li>
            <li {{action 'setLocale' 'en'}}>en</li>
            <li {{action 'setLocale' 'de'}}>de</li>
          {{/facet.list}}
        {{/x-dropdown-plus}}
      </div>

      <a href="http://www.sciencespo.fr/cartographie/khartis/docs/" target="_blank"
        title="{{t 'help.wiki'}}"
        class="clickable icon help-wiki">
        ?
      </a>

      {{#if (x-some (x-eq sidebarActiveTab 'visualizations') (x-eq sidebarActiveTab 'export'))}}
      <a class="clickable icon iconfont iconfont-save" {{action 'exportProject'}}
        title="{{t 'general.save'}}">
      </a>
      {{/if}}

    </div>
</header>