<aside class="application-sidebar solid vertical flow">

    {{outlet 'header'}}

    <div class="sidebar-content vertical flow">

        <ul class="application-nav text-center flow">
            <li class="{{if (x-eq sidebarActiveTab 'data') 'active'}}" >
              <span {{action 'navigateToProject'}}>{{t 'navigation.sidebar.data'}}</span>
            </li>
            <li class="{{if (x-eq sidebarActiveTab 'visualizations') 'active'}} {{if (x-eq sidebarActiveTab 'export') 'previous-enabled'}} {{if sidebarTabVisualizationsDisabled 'disabled'}}">
              <span {{action 'navigateToVisualizations'}}>{{t 'navigation.sidebar.visualisations'}}</span>
            </li>
            <li class="{{if (x-eq sidebarActiveTab 'export') 'active'}} {{if sidebarTabExportDisabled 'disabled'}}">
              <span {{action 'navigateToExport'}}>{{t 'navigation.sidebar.export'}}</span>
            </li>
        </ul>

        <div class="flow vertical space-between" style="min-height: 0"> <!-- min-height 0 required for firefox -->
            {{outlet 'sidebar'}}
        </div>

        <div class="solid flow horizontal space-between sidebar-bottom">
          {{outlet 'sidebar-bottom'}}
        </div>

    </div>

</aside>