<div class="modal-dialog {{additionnalClass}}">
	<div class="modal-content">
	  <div class="modal-header">
	    <h4 class="modal-title">{{{title}}}</h4>
	  </div>
	  <div class="modal-body">
	    {{{message}}}
	  </div>
	  <div class="modal-footer">
          {{#if cancelLabel}}
          <button class="button small filled default pull-left" {{action 'cancel'}}>{{cancelLabel}}</button>
          {{/if}}
          {{#if rejectLabel}}
          <button class="button small filled default" {{action 'reject'}}>{{rejectLabel}}</button>
          {{/if}}
          {{#if acceptLabel}}
          <button class="button small danger filled" {{action 'accept'}}>{{acceptLabel}}</button>
          {{/if}}
	  </div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->